<!-- Set variables -->
{%- if settings.catalog_mode -%}
   {% assign current_time = 'now' | date: "%H%M" | times: 1 %}
   {% assign current_day = 'now' | date: "%a" %}
   {% comment %}{% assign operation_days = "Mon:1700-2100,Tue:1700-2100,Wed:1700-2200,Thu:1700-2200,Fri:1700-2300,Sat:1200-2300,Sun:1200-2100" | split: ',' %}{% endcomment %}
   {% assign operation_days = settings.operation_days | split: ',' %}
   <!-- Check if the store is 'open' -->
   {% assign checkout_active = false %}
   {% for d in operation_days %}
      {% if d contains current_day %}
      	{% assign open_hours = d | split: ':' | last %}
      	{% assign open_time = open_hours | split: '-' | first | times: 1 %}
      	{% assign close_time = open_hours | split: '-' | last | times: 1 %}
      	{% if current_time >= open_time and current_time <= close_time %}
      	  {% assign checkout_active = true %}
      	{% endif %}
      {% endif %}
   {% endfor %}
{%- endif -%}
