{%- if settings.show_multiple_currencies -%}
{{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
{%- endif-%}
{{ "jquery.currencies.min.js" | asset_url | script_tag }}
{%- if settings.show_multiple_currencies -%}
<script>
// Pick your format here:
// money_format or money_with_currency_format
Currency.format = '{{ settings.currency_format | default: 'money_with_currency_format' }}';
{%- assign default_currency = settings.default_currency -%}
{%- assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' -%}
{%- if codes contains default_currency -%}
{%- else -%}
{%- assign default_currency = shop.currency -%}
{%- endif -%}
var shopCurrency = '{{ shop.currency }}';

/* Sometimes merchants change their shop currency, let is tell our JavaScript file */
Currency.moneyFormats[shopCurrency].money_with_currency_format = {{ shop.money_with_currency_format | strip_html | json }};
Currency.moneyFormats[shopCurrency].money_format = {{ shop.money_format | strip_html | json }};

/* Default currency */
var defaultCurrency = '{{ default_currency | default: shop.currency }}';

/* Cookie currency */
var cookieCurrency = gl_Currency.cookie.read();

// Fix for customer account pages.
jQuery('span.money span.money').each(function() {
  jQuery(this).parents('span.money').removeClass('money');
});

// Saving the current price.
jQuery('span.money').each(function() {
  jQuery(this).attr('data-currency-{{ shop.currency }}', jQuery(this).html());
});

// Select all your currencies buttons.
var buttons = jQuery('.currency-item');

// If there is no cookie or it is the shop currency.
var check_codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK';
var supported_codes = '{{settings.supported_currencies |strip_html|upcase }}';
var ipdata;
if (dc_settings.show_multiple_visitor && cookieCurrency !== null ){
   $.ajax({
      type: 'get',
      url: 'https://api.teathemes.net/currency',
      success: function(data) {
        var ipdata = data.currency;
        if(check_codes.indexOf(ipdata) >= 0 && supported_codes.indexOf(ipdata) < 0) {
          $('.currencies ul').prepend('<li><a href="javascript:void(0);" data-currency="'+ipdata+'" class="currency-item cw chp selected">'+ipdata+'</a></li>');
          $('ul.currencies').append('<li class="menu-item"><a href="javascript:void(0);" data-currency="'+ipdata+'" class="currency-item selected">'+ipdata+'</a></li>');
          if (cookieCurrency != ipdata ){jQuery('.currencies a[data-currency=' + ipdata + ']').removeClass('selected')}
        }
      }
	});
 }
if (cookieCurrency == shopCurrency || cookieCurrency == null ) {
  if (dc_settings.show_multiple_visitor && cookieCurrency == null ){
  	   $.ajax({
		      type: 'get',
		      url: 'https://api.teathemes.net/currency',
		      success: function(data) {
		        var ipdata = data.currency;
		        if(check_codes.indexOf(ipdata) >= 0 && supported_codes.indexOf(ipdata) < 0) {
		          $('.currencies ul').prepend('<li><a data-currency="'+ipdata+'" class="currency-item cw chp selected">'+ipdata+'</a></li>')
		          $('ul.currencies').append('<li class="menu-item"><a href="javascript:void(0);" data-currency="'+ipdata+'" class="currency-item selected">'+ipdata+'</a></li>');
            }
		        buttons.removeClass('selected');
		        jQuery('[data-currency="'+ipdata+'"]').addClass('selected');
		        Currency.convertAll(shopCurrency, ipdata);
		        jQuery(".selected-currency").text(ipdata);
		      }
		});
  }
  else if (shopCurrency !== defaultCurrency) {
    buttons.removeClass('selected')
    if (cookieCurrency == null ) {
       var $this = jQuery('.currencies a[data-currency=' + defaultCurrency + ']');
    Currency.convertAll(shopCurrency, defaultCurrency);
    }else {
       var $this = jQuery('.currencies a[data-currency=' + cookieCurrency + ']');

    Currency.convertAll(shopCurrency, cookieCurrency);
    }
       var Currency_text = $this.first().text();
    $this.addClass('selected');
    jQuery('.selected-currency').text(Currency_text);
  }
  else {
    Currency.convertAll(shopCurrency, defaultCurrency);
  }
}
else {
  Currency.convertAll(shopCurrency, cookieCurrency);
  jQuery('.currency-item').removeClass('selected');
  var $this = jQuery('.currencies a[data-currency=' + cookieCurrency + ']'),
      Currency_text = jQuery('.currencies .selected').first().text();
  $this.addClass('selected');
   if(Currency_text == '') {
      jQuery('.selected-currency').text(cookieCurrency);
      if (!dc_settings.show_multiple_visitor) {
         $.ajax({
            type: 'get',
            url: 'https://api.teathemes.net/currency',
            success: function(data) {
              var ipdata = data.currency;
              if(check_codes.indexOf(ipdata) >= 0 && supported_codes.indexOf(ipdata) < 0) {
                $('.currencies ul').prepend('<li><a data-currency="'+ipdata+'" class="currency-item cw chp">'+ipdata+'</a></li>');
                $('ul.currencies').append('<li class="menu-item"><a class="currency-item" href="javascript:void(0);" data-currency="'+ipdata+'">'+ipdata+'</a></li>');
              }
            }
         });
      }
    } else {
     jQuery('.selected-currency').text(Currency_text);
    }
}
// When customer clicks on a currency button.
$(document).on("click",".currencies li:not(.black_menu) a",function(ev) {
   ev.preventDefault();
  jQuery('.currency-item').removeClass('selected');
  var Currency_text = jQuery(this).text(),
      $this = jQuery('.currencies a[data-currency=' + Currency_text + ']');
  //jQuery(this).addClass('selected');
  $this.addClass('selected');
  var newCurrency = jQuery(this).attr('data-currency');
  Currency.convertAll(Currency.currentCurrency, newCurrency);
  jQuery('.selected-currency').text(Currency_text);
});

</script>
{%- endif-%}
