{%- capture dc_settings_json -%}
<script type="text/javascript">
/* <![CDATA[ */
var dc_settings = {  
   popupEffect: 'mfp-move-horizontal',
   product_images_captions:'no',
   show_multiple_currencies:{{settings.show_multiple_currencies |json}},
   show_multiple_visitor:{{settings.show_multiple_visitor |json}},
   productreviews:{{settings.show_product_rating |json}},
   shop_equal_img:{{settings.use_eq_height |json}},
   na: {{ 'products.product.na' | t | json }},
   shop_currency: {{ shop.currency | json }},
   moneyFormat: {{ shop.money_format | json }},
   add_to_cart_action:{{ settings.dc_options_add_to_cart_action | json }},
   added_to_cart: {{ 'products.popup.added_to_cart' | t | json }},
   view_cart: {{ 'products.popup.view_cart' | t | json }},
   wishlist:{{settings.use_wishlist |json}},
   continue_shopping: {{ 'products.popup.continue_shopping' | t | json }},
   info_wishlist: {{ 'products.popup.info_wishlist' | t | json }},
   login: {{ 'products.popup.login' | t | json }},
   nowishlist: {{ 'products.grid_items.no_products_wishlist' | t | json }},
   mc_submit:{{'general.newsletter_form.submit' | t | json}},
   mc_subscribing:{{'general.newsletter_form.subscribing' | t | json}},
   save_note:{{settings.cart_notes_enable_widget |json}},
   conditions: {{ 'cart.general.conditions' | t | json }},
   style_search:{{ settings.dc_search_widget | json }},
   live_search:{%- if settings.ajax_search -%}{{ 'yes' | json }}{%- else -%}{{ 'no' | json }}{%- endif -%},
   ajax_search_product:{%- if settings.only_search_products -%}{{ 'yes' | json }}{%- else -%}{{ 'no' | json }}{%- endif -%},
   header_sticky:{%- if settings.sticky_header_enable -%}{{ 'yes' | json }}{%- else -%}{{ 'no' | json }}{%- endif -%},
   countdown_days_page:{{settings.days | json }},
   countdown_hours_page:{{settings.hours | json }},
   countdown_mins_page:{{settings.minutes | json }},
   countdown_sec_page:{{settings.seconds | json }},
   favicon_counter:{%- if settings.show_favicon_counter -%}{{ 'yes' | json }}{%- else -%}{{ 'no' | json }}{%- endif -%},
   cart_count:{{cart.item_count | json }},
   favanimation: {{settings.favicon_animation | json }},
   favbgColor: {{settings.favicon_bgColor | json }},
   favtextColor: {{settings.favicon_textColor | json }},
   ajax_scroll:{%- if settings.ajax_scroll_top -%}{{ 'yes' | json }}{%- else -%}{{ 'no' | json }}{%- endif -%},
   cookies_version:{{settings.cookies_version | json }},
   promo_version:{{settings.popup_version | json }},
   enable_popup:{%- if settings.enable_popup -%}{{ 'yes' | json }}{%- else -%}{{ 'no' | json }}{%- endif -%},
   promo_popup_hide_mobile:{%- if settings.promo_popup_hide_mobile -%}{{ 'yes' | json }}{%- else -%}{{ 'no' | json }}{%- endif -%},
   {%- assign now_count_time = 'now' | date: "%H:%M, %a" -%}
   catelog_title:{{ 'general.catelog.title' | t: now_count:now_count_time | json }},
   catelog_info:{{ 'general.catelog.info' | t | json }},
   catelog_info_2:{{ 'general.catelog.info_2' | t | json }},
   catelog_btn:{{ 'general.catelog.btn' | t | json }},
   supported_codes_ship:{{ settings.supported_codes_ship |json}},
   use_agree_checkbox:{%- if settings.use_agree_checkbox_pop_up or settings.use_agree_checkbox -%}{{ 'yes' | json }}{%- else -%}{{ 'no' | json }}{%- endif -%},
   use_additional_checkout_buttons:{%- if settings.use_additional_checkout_buttons -%}{{ 'yes' | json }}{%- else -%}{{ 'no' | json }}{%- endif -%},
   "ajax_scroll_offset":"100",
   "load_more":"Load More",
   "popup_remove":"Removed from the cart",
   "popup_undo":"Undo?",
   "loading":"Loading...",
   "countdown_days":"days",
   "countdown_hours":"hr",
   "countdown_mins":"min",
   "countdown_sec":"sc",
   "added_popup":"no",
   "categories_toggle":"yes",
   "popup_delay":"{{settings.time_popup_delay}}",
   "popup_event":"{{settings.show_popup_after}}",
   "popup_scroll":"{{settings.scroll_popup_delay}}",
   "popup_pages":"{{settings.number_pages}}",
   "ajax_add_to_cart":"1",
   "all_results":"View all results",
   "zoom_enable":"yes",
   "close":"Close (Esc)",
   "share_fb":"Share on Facebook",
   "pin_it":"Pin it",
   "tweet":"Tweet",
   "download_image":"Download image"
};
/* ]]> */
</script>
 {%- endcapture -%}
{{ dc_settings_json | strip_newlines | remove: '  ' }}