{%- assign images_alt = product.images | map: 'alt' -%}
{%- if images_alt contains 'jas_360' or product.metafields.meta.video contains 'youtube' or settings.show_zoom_img -%}
	<div class="group_btn_pr pa flex">
		{%- if images_alt contains 'jas_360' -%}
		<div class="360_wrap">
			<div class="dc-show-product-gallery-wrap p-video-360"><a href="#product-360-view" class="dc-tooltip"><span class="dc-tooltip-label">{{ 'products.product.view_360'| t }}</span></a></div>
			<div id="product-360-view" class="product-360-view-wrapper mfp-hide">
		      <div class="dc-threed-view threed-id-{{product.id}}">
		         <ul class="threed-view-images"></ul>
		         <div class="spinner"><span>0%</span></div>
		      </div>
		   </div>
		</div>
		{%- endif -%}
		{%- if product.metafields.meta.video contains 'youtube' -%}
		<div class="dc-show-product-gallery-wrap p-video-youtube"><a href="{{ product.metafields.meta.video }}" class="jas-popup-url dc-tooltip"><span class="dc-tooltip-label">{{ 'products.product.video'| t }}</span></a></div>
	  {%- endif -%}
	  {%- if settings.main_click == 'zoom' and settings.show_zoom_img -%}<div class="dc-show-product-gallery-wrap"><a href="#" class="dc-show-product-gallery dc-tooltip"><span class="dc-tooltip-label">{{ 'products.product.click_zoom'| t }}</span></a></div>{%- endif -%}
  </div>
{%- endif -%}