<div class="header__mid tc{%- if settings.header_bg_image != blank %} lazyload{%- endif -%}"{%- if settings.header_bg_image != blank %} data-bgset="{%- include 'bgset', image: settings.header_bg_image -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url('{{ settings.header_bg_image | img_url: '50x50' }});"{%- endif -%}>
  <div class="jas-container jas-row middle-xs mid__top pl__15 pr__15 pr">
    <div class="flex align-items-center">
      {%- include 'push_menu' -%}
      <div class="logo_wrap">
        {%- include 'logo_menu' -%}
      </div>
      <div class="search_wrap">
        <form role="search" method="GET" class="search-form" action="/search">
          <input type="hidden" name="type" value="product">
          <input class="search-form__input-text" placeholder="Type here to start searching..." aria-label="Search" autocomplete="off" type="text" name="q" value="">
          <button class="search-form__submit" type="submit"><i class="far fa-search"></i></button>
        </form>
      </div>
      <div class="head_sub-links-wrap">
        <div class="link-item">
          <div class="link-item__text link-phone">
            <i class="fal fa-phone"></i><a href="tel:01213487815">0121 348 7815</a>
          </div>
        </div>
        <div class="link-item">
          <div class="link-item__logo"><i class="fal fa-user"></i></div>
          <div class="link-item__text">
            {% if customer %}
              <a href="/account/">My account</a>
            {% else %}
            <p>My Account</p>
              <a href="/account/login">Sign In</a> or <a href="/account/register">Register</a>
            {% endif %}
          </div>
        </div>
        <div class="link-item">
          <div class="link-item__logo">{%- include 'jas_action' -%}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="jas-navigation flex center-xs hidden-sm">
     {%- section 'mega_menu' -%}
  </div><!-- .jas-navigation -->
</div>
