{%- if shop.customer_accounts_enabled -%}
<div class="yith-wcwl-add-to-wishlist add-to-wishlist-{{ product.id }} {{customer}}">
   {%- if customer -%}
      {%- if NITRO_WISHLIST contains product.id -%}
         <div class="yith-wcwl-wishlistexistsbrowse jas_addedbrowse_wishlist">
            <a href="/pages/wishlist" rel="nofollow" class="add_to_wishlist dc-tooltip"><span class="dc-tooltip-label">{{ 'products.grid_items.browse_Wishlist' | t }}</span> {{ 'products.grid_items.browse_Wishlist' | t }}</a>
         </div>
      {%- else -%}
         <div class="yith-wcwl-add-button jas_add_wishlist">
            <a href="{{ product.handle | handleize }}" data-customer_id="{{customer.id}}" data-email="{{customer.email}}" data-action="add" data-handle="{{product.handle}}" data-id="{{product.id}}" rel="nofollow" class="add_nitro_wishlist add_to_wishlist dc-tooltip"><span class="dc-tooltip-label">{{ 'products.grid_items.add_to_wishlist' | t }}</span> {{ 'products.grid_items.add_to_wishlist' | t }}</a>
         </div>
         <div class="yith-wcwl-add-button jas_adding_wishlist feid-in" style="display: none; pointer-events: none">
            <a href="{{ product.handle | handleize }}" rel="nofollow" class="load_nitro_wishlist add_to_wishlist dc-tooltip loading"><span class="dc-tooltip-label">{{ 'products.grid_items.adding_to_wishlist' | t }}</span> {{ 'products.grid_items.adding_to_wishlist' | t }}</a>
         </div>
         <div class="yith-wcwl-wishlistaddedbrowse jas_addedbrowse_wishlist" style="display:none;">
            <a href="/pages/wishlist" rel="nofollow" class="add_to_wishlist dc-tooltip"><span class="dc-tooltip-label">{{ 'products.grid_items.browse_Wishlist' | t }}</span> {{ 'products.grid_items.browse_Wishlist' | t }}</a>
         </div>
      {%- endif -%}
   {%- else -%}
      <div class="yith-wcwl-add-button">
         <a href="/account" rel="nofollow" class="nitro_wishlist_login add_to_wishlist dc-tooltip"><span class="dc-tooltip-label">{{ 'products.grid_items.login_to_wishlist' | t }}</span> {{ 'products.grid_items.login_to_wishlist' | t }}</a>
      </div>
   {%- endif -%}
</div>
{%- endif -%}