{%- assign template_id = template | split: '.' | first -%}
{%- assign st = 'display_' | append: template_id -%}
{%- if settings[st] -%}
{%- assign collection_opj = collections[settings.collection_suggest] -%}
{%- if collection_opj.handle != "" or collection_opj.handle != empty -%}
{%- assign colections = collection_opj.products -%}
{%- capture index -%}{{ 'now' | date: '%S' | times: shop.collections_count | divided_by: 60 }}{%- endcapture -%}
{%- assign index_number = index | plus:0 -%}
{%- if index_number < collection_opj.all_products_count -%}
  {%- for product in colections offset:index_number -%}
      {%- assign ps = product -%}
      {%- break -%}
  {%- endfor -%}
{%- else -%}
 {%- assign ps = colections | first -%}
{%- endif -%}
{%- if collection_opj.all_products_count > 0 -%}
<div class="dc-products-suggest{%- if settings.show_suggest_mobile == false %} hide_mobile{%- endif -%}">
  <div class="product-suggest">
    {%- if settings.show_close_suggest -%}<a class="suggest-close" onclick="jQuery(this).parent().parent().remove()">×</a>{%- endif -%}
    <div class="table_suggest">
      <a class="table-cell-top img" href="{{ ps.url | within: collection_opj }}" style="background-image: url({{ ps.featured_image | img_url: '90x' }});">
      </a>
      <div class="table-cell-top">
        <span style="font-size: 12px">{{'general.layout.suggest.title' | t}}</span>
        <a href="{{ ps.url | within: collection_opj }}" class="product-title">{{ps.title}}</a>
        {%- if settings.use_suggest -%}
        {%- assign ago_suggest = 'now' | date: '%S' | plus:0 -%}
        <div class="minutes-ago">
          <span class="minute-number">{%- if ago_suggest == 0 -%}1{%- else -%}{{ago_suggest}}{%- endif -%}</span> <span>{{'general.layout.suggest.minutes_ago' | t}}</span>
        </div>
        {%- endif -%}
        {%- if settings.use_fake_location and settings.fake_location != blank -%}
        {%- assign arr_fake_location = settings.fake_location | replace: ' | ', '|' | replace: ' |', '|' | replace: '| ', '|' | split: '|' -%}
        {%- assign ago_index = 'now' | date: '%S' | plus:0 -%}
        <div class="from-ago">{{'general.layout.suggest.from' | t}} <span class="from">{%- if ago_index > arr_fake_location.size -%}{%- assign ago_index = 0 -%}{%- endif -%}{{arr_fake_location[ago_index]}}</span></div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- endif -%}
{%- endif -%}
{%- endif -%}