{%- assign colour_count = 0 -%}
{%- if product.has_only_default_variant == false and settings.show_product_color -%}
{%- if settings.color_name_check != blank -%}{%- assign _gl_color_name = settings.color_name_check | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}{%- assign gl_color_name = _gl_color_name | downcase -%}{%-else-%}{%- assign gl_color_name = '\jas_no_cl\' -%}{%-endif-%}
{%- assign colour_count = 0 -%}
{%- for option in product.options_with_values -%}
   {%- assign downcased_option = option.name | downcase -%}
   {%- assign downcased_option_check = option.name | downcase | prepend: '"' | append: '"' | strip -%} 
   {%- if downcased_option == 'color' or downcased_option == 'colour' or gl_color_name contains downcased_option_check -%}
     {%- assign colour_count = option.values.size | plus:0 -%}
     {%- break -%}
   {%- endif -%}
{%- endfor -%}
{%- endif -%}