{%- for link in linklists[product.handle].links -%}
{% if link.type == 'product_link' %}
{% assign pr = link.object %}
{%- assign product_image_size = '90x' -%}
{%- assign sold_out = true -%}
{%- if pr.available  -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- if sold_out == false and product.id != pr.id -%}
   {%- assign current_variant = pr.selected_or_first_available_variant -%}
   {%- assign featured_image = current_variant.featured_image | default: pr.featured_image -%}
   {%- assign on_sale = false -%}
   {%- if current_variant.compare_at_price > current_variant.price -%}
      {%- assign on_sale = true -%}
   {%- endif -%}
    <tr class="{%- cycle 'jas-table-odd', '' -%}">
      <td class="label jas_variation">
        <img class="attachment-shop_single size-shop_single {{ img_class }}" src="{{ featured_image | img_url: product_image_size }}" alt="{{ featured_image.alt | split:'|' | last | escape }}">
        <label for="product-{{ pr.id }}"><a href="{{  current_variant.url | within: collection }}">{{ pr.title }}</a></label>
      </td>
      <td>
         {%- if pr.has_only_default_variant == false -%}
         <select name="[]" class="product-form__variants product-form_group_variants">
           {%- for variant in pr.variants -%}
             {%- if variant.available -%}
               <option{%- if variant == current_variantt %} selected="selected"{%- endif %} value="{{ variant.id }}" data-onsale="{%- if variant.compare_at_price > variant.price -%}true{%- else -%}false{%- endif -%}" data-compare="{{ variant.compare_at_price }}" data-price="{{ variant.price }}" data-quantity="{%- if variant.inventory_management == blank or variant.inventory_policy == 'continue' -%}999{%- else -%}{{ variant.inventory_quantity }}{%- endif -%}" data-image="{{ variant.featured_image | default: pr.featured_image | img_url: product_image_size }}">{{ variant.title }}</option>
             {%- endif -%}
           {%- endfor -%}
         </select>
         {%- endif -%}
        <div class="quantity pr fl tl mr__10">
             <input type="number" step="1" min="0" max="{%- if current_variant.inventory_management == blank or current_variant.inventory_policy == 'continue' -%}999{%- else -%}{{ current_variant.inventory_quantity }}{%- endif -%}" name="updates[{{ current_variant.id }}]" data-variant-id="{{ current_variant.id }}" onfocus="this.select()" id="Quantity_{{ current_variant.id }}" value="0" title="Qty" class="jas_group_quantity qty input-text tc" size="4">
             <div class="tc pa">
                <a class="plus db cb" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
                <a class="minus db cb" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
             </div>
         </div>
      </td>
      <td class="price">
        {%- if on_sale -%}<ins id="product-price">{{ current_variant.price | money }}</ins><del class="old-product-price">{{ current_variant.compare_at_price | money }}</del>
        {%- else -%}
        <span class="product-price">{{ current_variant.price | money }}</span> 
        {%- endif -%}
      </td>
    </tr>
  {%- endif -%}
  {%- endif -%}
{%- endfor -%}
