{%- assign position_img_1 = 0 -%}
{%- assign position_img_2 = 1 -%}
{%- assign hide_img_2 = false -%}
{%- assign images_size = product.images.size -%}
{%- if template contains 'collection' and current_tags.size > 0 and product.featured_image.src != blank -%}
   {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
   {%- assign position_img_1 = featured_image.position | minus:1 -%}
   {%- assign hide_img_2 = true -%}
{%- endif -%} 
{%- if settings_pr_img_size and images_size > 0 -%}
   <a data-chksrc="{{ product.images[position_img_1] | img_url: '50x50' }}" class="jas_bg jas-product-img-element jas-pr-image-link lazyload" href="{{ url_nt | within: collection }}" data-bgset="{%- include 'bgset', image: product.images[position_img_1] -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url('{{ product.images[position_img_1] | img_url: '50x50' }});">
      <img src="{{ product.images[position_img_1] | img_url: '50x50' }}" class="attachment-shop_catalog size-shop_catalog op_0" alt="{{product.images[position_img_1].alt}}">
   </a>
   <div class="jas-wrap-lazy"></div>
   {%- if settings.show_pr_img_2 and images_size > 1 -%}
   <div class="cursor-pointer jas-product-img-element jas-hover-img pa{%- if hide_img_2 %} hide{%- endif -%}" onclick="window.location.href='{{ url_nt | within: collection }}'"><a class="jas_bg db lazyload" data-bgset="{%- include 'bgset', image: product.images[position_img_2] -%}" data-sizes="auto" data-parent-fit="cover"></a><div class="jas-wrap-lazy"></div></div> 
   {%- endif -%} 
{%- elsif images_size > 0 -%}
   <a class="jas-product-img-element jas-pr-image-link" href="{{ url_nt | within: collection }}">
      {%- assign img_url = product.images[position_img_1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img src="{{ product.images[position_img_1] | img_url: '50x50' }}" data-chksrc="{{ product.images[position_img_1] | img_url: '50x50' }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ product.images[position_img_1].aspect_ratio }}" data-sizes="auto" class="lazyload attachment-shop_catalog size-shop_catalog" alt="{{product.images[position_img_1].alt}}">
      <div class="jas-wrap-lazy"></div>
   </a>
   {%- if settings.show_pr_img_2 and images_size > 1 -%}
   <div class="cursor-pointer jas-product-img-element jas-hover-img pa{%- if hide_img_2 %} hide{%- endif -%}" onclick="window.location.href='{{ url_nt | within: collection }}'">
      <a href="{{ url_nt | within: collection }}">
         {%- assign img_url = product.images[position_img_2] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
         <img src="{{ product.images[position_img_2] | img_url: '50x50' }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ product.images[position_img_2].aspect_ratio }}"  data-sizes="auto" class="lazyload attachment-shop_catalog size-shop_catalog" alt="{{product.images[position_img_2].alt}}">       
         <div class="jas-wrap-lazy"></div>
      </a>
   </div>
   {%- endif -%}   
{%- endif -%}
 

