<!-- /snippets/product-card.liquid -->

{% comment %}
  The product card snippet is passed a liquid object, used in this file
  as "product". The object is either "product" or "item", the latter if
  it is from search results.
{% endcomment %}





<div class="jas-grid-item jas-col-md-12 jas-col-sm-4 jas-col-xs-12 mt__30 product has-post-thumbnail user_custom slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 301px;" tabindex="0">
   <div class="product-inner pr">
      <div class="jas-product-image pr oh jas-product-image-equal"><a data-chksrc="//cdn.shopify.com/s/files/1/0069/4445/6807/products/image_d36b7ecd-d915-47c7-8292-d4e70a8bd9c2_50x50.jpg?v=1561107038" class="jas_bg jas-product-img-element jas-pr-image-link lazyloaded" href="/collections/frontpage-1/products/basketball-themed-bunk-bed" data-bgset="//cdn.shopify.com/s/files/1/0069/4445/6807/products/image_d36b7ecd-d915-47c7-8292-d4e70a8bd9c2_180x.jpg?v=1561107038 180w 135h,//cdn.shopify.com/s/files/1/0069/4445/6807/products/image_d36b7ecd-d915-47c7-8292-d4e70a8bd9c2_360x.jpg?v=1561107038 360w 270h,//cdn.shopify.com/s/files/1/0069/4445/6807/products/image_d36b7ecd-d915-47c7-8292-d4e70a8bd9c2_540x.jpg?v=1561107038 540w 405h,//cdn.shopify.com/s/files/1/0069/4445/6807/products/image_d36b7ecd-d915-47c7-8292-d4e70a8bd9c2_720x.jpg?v=1561107038 720w 540h,//cdn.shopify.com/s/files/1/0069/4445/6807/products/image_d36b7ecd-d915-47c7-8292-d4e70a8bd9c2_900x.jpg?v=1561107038 900w 675h,//cdn.shopify.com/s/files/1/0069/4445/6807/products/image_d36b7ecd-d915-47c7-8292-d4e70a8bd9c2.jpg?v=1561107038 1080w 810h
" data-parent-fit="cover" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0069/4445/6807/products/image_d36b7ecd-d915-47c7-8292-d4e70a8bd9c2_540x.jpg?v=1561107038&quot;);" tabindex="0">
      <img src="//cdn.shopify.com/s/files/1/0069/4445/6807/products/image_d36b7ecd-d915-47c7-8292-d4e70a8bd9c2_50x50.jpg?v=1561107038" class="attachment-shop_catalog size-shop_catalog op_0" alt="{{ product.title }}">
   </a>
   <div class="jas-wrap-lazy"></div><div class="jas-product-button pa flex"></div><div class="jas-add-btn pa btn-jas-3d"><a rel="nofollow" href="javascript void(0);" data-ajax="/products/basketball-themed-bunk-bed/?view=json" class="button btn-quick-shop" tabindex="0"><span>Quick Shop</span></a></div>
<div class="jas-qs-wrapper pa"><div class="jas-qs-close pa"></div><div class="jas-qs-form flex" id="product-3876734664807"></div></div></div>
      <div class="jas-add-btn btn-jas-3d"><a rel="nofollow" href="javascript void(0);" data-ajax="/products/basketball-themed-bunk-bed/?view=json" class="button btn-quick-shop" tabindex="0"><span>Quick Shop</span></a></div>
      <div class="product-info mt__15">
         <h3 class="product-title pr fs__14 mg__0 fwm"><a class="cd chp" href="/collections/frontpage-1/products/basketball-themed-bunk-bed" tabindex="0">{{ product.title }}</a></h3><div class="shopify-product-reviews-badge" data-id="3876734664807"></div><span class="price">£1,580.00–£1,700.00
</span>
      <div class="swatch__list jas_swatches_on_grid is-flex rounded"><span class="jas_swatch_on_grid swatch__list--item cursor_default is-relative dc-tooltip u-small"><span class="swatch__value bg_color_blue-and-red-as-pictured"><span class="dc-tooltip-label">Blue and red (as pictured)</span>Bl</span></span><span class="jas_swatch_on_grid swatch__list--item cursor_default is-relative dc-tooltip u-small"><span class="swatch__value bg_color_other-please-specify-in-notes"><span class="dc-tooltip-label">Other (please specify in notes)</span>Ot</span></span></div></div>
   </div>
</div>













<a href="{{ product.url | within: collection }}" class="product-card">
  <div class="product-card__image-wrapper">
    <img src="{{ product.featured_image.src | img_url: '480x480' }}" alt="{{ product.featured_image.alt | escape }}" class="product-card__image">
  </div>
  <div class="product-card__info">
    {% if settings.product_vendor_enable %}
      <div class="product-card__brand">{{ product.vendor }}</div>
    {% endif %}

    <div class="product-card__name">{{ product.title }}</div>

    {% if product.available %}
      <div class="product-card__price">
        {% if product.compare_at_price > product.price %}
          {% comment %}
            Product is on sale
          {% endcomment %}
          {% if product.price_varies %}
            {% assign sale_price = product.price | money_without_trailing_zeros %}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s class="product-card__regular-price">{{ product.compare_at_price | money_without_trailing_zeros }}</s>

            <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {{ product.price | money_without_trailing_zeros }}
          {% endif %}

        {% else %}
          {% comment %}
            Not on sale, but could still have varying prices
          {% endcomment %}
          {% if product.price_varies %}
            {% assign price = product.price | money_without_trailing_zeros %}
            {{ 'products.product.from_text_html' | t: price: price }}
          {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {{ product.price | money_without_trailing_zeros }}
          {% endif %}

        {% endif %}
      </div>
    {% else %}
      <div class="product-card__availability">
        {{ 'products.product.sold_out' | t }}
      </div>
    {% endif %}
  </div>

  {% if product.compare_at_price > product.price %}
    {% comment %}
      A visually-hidden label before regular/sale prices clarifies
      prices for screen readers, so hide the sale tag from them.
    {% endcomment %}
    <div class="product-tag product-tag--absolute" aria-hidden="true">
      {{ 'products.product.on_sale' | t }}
    </div>
  {% endif %}
  <div class="product-card__overlay">
    {% assign view_string_length = 'products.product.view' | t | size %}
    <span class="btn product-card__overlay-btn {% if view_string_length > 8 %} btn--narrow{% endif %}">{{ 'products.product.view' | t }}</span>
  </div>
</a>
