{% comment %}
{% assign related_products = product.metafields.apex['related'] | split: ',' %}
{% assign rl_count = related_products | size %}
{% if rl_count >= 1 %}
    <h3>Related Products</h3>
    <ul> 	
    {% for handle in related_products %}
        {% assign related_product = all_products[handle] %}
    <li><a href="{{ related_product.url}}">{{ related_product.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% endcomment %}

{% assign related_product_handles_str = "" %}

{% assign lc_product_tags = product.tags | join: "," | downcase | split: "," %}

{% for tag in lc_product_tags %}
    {% unless tag contains "related_" %}
        {% continue %}
    {% endunless %}

    {% assign handle = tag | remove: "related_" %}
    {% assign related_product_handles_str = related_product_handles_str | append: handle | append: "||" %}
{% endfor %}

{% assign related_product_handles = related_product_handles_str | split: "||" %}

{% if collection %}
{% for p in collection.products %}
{% if p.id == product.id %}
{% continue %}
{% endif %}
{% assign related_product_handles_str = related_product_handles_str | append: p.handle | append: "||" %}
{% assign related_product_handles = related_product_handles_str | split: "||" %}
{% if related_product_handles.size >= 4 %}
{% break %}
{% endif %}
{% endfor %}
{% endif %}

{% if related_product_handles.size > 0 %}

    <header class="grid medium-up--grid--table section-header text-center">
        <div class="grid__item">
            <h2 class="h1--mini">Add on</h2>
        </div>
    </header>

    <div class="products jas-row jas-products-holder jas-carousel" data-slick='{"slidesToShow": 4,"slidesToScroll": 1, "autoplay": true, "autoplaySpeed": 6000,"rtl": false, "infinite": false, "arrows": true,"dots": false, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 3 }},{"breakpoint": 600,"settings":{"slidesToShow": 2 }},{"breakpoint": 480,"settings":{"slidesToShow": 2 }}]}'>
    {% for handle in related_product_handles %}
        {% assign p = all_products[handle] %}
        {%- include 'jas_product_loop', product: p -%}

    {% endfor %}
    </div>

{% endif %}