{%- comment -%}
  Set either or both to true, if you want
  to limit yourself to items with same vendor, and/or type.
{%- endcomment -%}
{%- assign same_vendor = false -%}
{%- assign same_type = false -%}
{%- assign related_number = settings.related_silder_per_view -%}
{%- assign grid_columns = '12' -%}
{%- assign grid_columns_mb = '12' -%}
{%- assign pr_style = settings.related_products_hover -%}
{%- assign show_vendor = settings.show_vendor_related -%}
{%- assign settings_pr_img_size = settings.use_related_eq_height -%}
{%- assign section_settings_countdown = settings.related_sale_countdown -%}
{%- comment -%}
  Collections to ignore.
  Never pick related items from those.
  {%- assign exclusions = 'frontpage,all' | split: ',' -%}
{%- endcomment -%}
{%- assign exclusions = 'all' | split: ',' -%}

{%- comment -%}
  Looking for a relevant collection.
{%- endcomment -%}

{%- if product.metafields.c_f['Related Products'] -%}
  {%- assign collection = collections[product.metafields.c_f['Related Products']] -%}
{%- endif -%}

{%- assign found_a_collection = false -%}
{%- if collection and collection.all_products_count > 1 -%}
  {%- unless exclusions contains collection.handle -%}
    {%- assign found_a_collection = true -%}
  {%- endunless -%}
{%- endif -%}
{%- unless found_a_collection -%}
  {%- for c in product.collections -%}
    {%- unless exclusions contains c.handle or c.all_products_count < 2 -%}
      {%- assign found_a_collection = true -%}
      {%- assign collection = c -%}
      {%- break -%}
    {%- endunless -%}
  {%- endfor -%}
{%- endunless -%}

{%- comment -%}
  If we have a relevant collection.
{%- endcomment -%}

{%- if found_a_collection -%}
  {%- assign counter = 0 -%}
  {%- assign break_at = settings.many_related_products | plus: 0 -%}
{%- assign current_product = product -%}
  
  {%- capture related_items -%}
    {%- for product in collection.products -%}
      {%- unless product.handle == current_product.handle -%}
         {%- unless same_vendor and current_product.vendor != product.vendor -%}
           {%- unless same_type and current_product.type != product.type -%}
             {%- include 'jas_product_loop' -%}
             {%- assign counter = counter | plus: 1 -%}
             {%- if counter == break_at -%}
               {%- break -%}
             {%- endif -%}
           {%- endunless -%}
        {%- endunless -%}
      {%- endunless -%}
    {%- endfor -%}
  {%- endcapture -%}

  {%- assign related_items = related_items | trim -%}

  {%- unless related_items == blank -%}
    <div class="related product-extra mt__60 {{pr_style}}">
      {%- assign sett_title = settings.title_pr_related -%}
      {%- assign sett_sub_title = settings.sub_title_pr_related -%}
      {%- assign style_title = settings.style_title_pr_related -%}
      {%- include 'jas_section_title' -%}
      <div class="products jas-row jas-products-holder jas-carousel {{settings.related_image_size}}{%- if settings_pr_img_size %} jas_section_eqh{%- endif -%}" data-slick='{"slidesToShow": {{ settings.related_sidetoshow }},"slidesToScroll": 1, "autoplay": {{ settings.related_use_autoplay }}, "autoplaySpeed": {{ settings.related_slider_speed }}000,"rtl": {{ settings.use_rtl }}, "infinite": {{settings.related_use_loop}}, "arrows": {{settings.related_use_arrows}},"dots": {{settings.related_use_dots}}, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": {{ settings.related_sidetoshow_first}} }},{"breakpoint": 600,"settings":{"slidesToShow": {{ settings.related_sidetoshow_center}} }},{"breakpoint": 480,"settings":{"slidesToShow": {{ settings.related_sidetoshow_last}} }}]}'>
        {{ related_items }}
      </div>
    </div>
  {%- endunless -%}
     
{%- endif -%}