<div class="social-icons">
    {%- if settings.social_facebook_link != blank -%}
    <a href="{{ settings.social_facebook_link }}" target="_blank" class="icon-fallback-text">
        <i class="fab fa-facebook"></i>
    </a>
    {%-endif-%}
    {%- if settings.social_twitter_link != blank -%}
    <a href="{{ settings.social_twitter_link }}" target="_blank" class="icon-fallback-text">
        <i class="fab fa-twitter"></i>
    </a>
    {%-endif-%}
    {%- if settings.social_google_plus_link != blank -%}
    <a href="{{ settings.social_google_plus_link }}" target="_blank" class="icon-fallback-text">
        <i class="fab fa-google-plus"></i>
    </a>
    {%-endif-%}
    {%- if settings.social_pinterest_link != blank -%}
    <a href="{{settings.social_pinterest_link}}" target="_blank" class="icon-fallback-text">
        <i class="fab fa-pinterest"></i>
    </a>
    {%-endif-%}
    {%- if settings.social_instagram_link != blank -%}
    <a href="{{ settings.social_instagram_link }}" target="_blank" class="icon-fallback-text">
        <i class="fab fa-instagram"></i>
    </a>
    {%-endif-%}
    {%- if settings.social_tumblr_link != blank -%}
    <a href="{{ settings.social_tumblr_link }}" target="_blank" class="icon-fallback-text">
        <i class="fab fa-tumblr"></i>
    </a>
    {%-endif-%}
    {%- if settings.social_youtube_link != blank -%}
    <a href="{{ settings.social_youtube_link }}" target="_blank" class="icon-fallback-text">
        <i class="fab fa-youtube-play"></i>
    </a>
    {%-endif-%}
    {%- if settings.social_vimeo_link != blank -%}
    <a href="{{ settings.social_vimeo_link }}" target="_blank" class="icon-fallback-text">
        <i class="fab fa-vimeo"></i>
    </a>
    {%-endif-%}
    {%- if settings.social_snapchat_link != blank -%}
    <a href="{{ settings.social_snapchat_link }}" target="_blank" class="icon-fallback-text">
        <i class="fab fa-snapchat"></i>
    </a>
    {%-endif-%}
</div>