<div class="agree-to-terms">
    <label>
        <input class="js-agreeTerms" type="checkbox" name="checkbox" value="check" /> I have read and agree to the <a href="/pages/term-conditions" target="blank" >Terms and Conditions</a>.
    </label>
</div>