<!doctype html>
<html lang="{{ shop.locale }}" class="no-js"{%- if settings.use_rtl %} dir="rtl"{%- endif-%}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <meta name="format-detection" content="telephone=no">
  <meta name="google-site-verification" content="3DLpY9HnntfVPekbw-wNUg7f7bbtyCyYNZCQRl0IUu4">
  <link rel="canonical" href="{{ canonical_url }}">
  <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace('no-js', 'yes-js js_active js')</script>
  {%- if request.host contains 'demo-dc-plus' -%}
  <script type="text/javascript">(function(){var externallyFramed=false;try{externallyFramed=top.location.host!=location.host;}catch(err){externallyFramed=true;}if(externallyFramed){top.location='{{ shop.secure_url }}';}})();</script>
  {% endif %}
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | img_url: '32x' }}">
  {% endif %}
   {%- if settings.favicon_apple != blank and settings.favicon_counter == false -%}
  <link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{{ settings.favicon_apple | img_url: '152x' }}">
  {%- endif -%}
  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.seo.tags' | t: tags: meta_tags -}}
    {% endif %}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.seo.page' | t: page: current_page }}
    {%- endif -%}
    {%- unless page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  {%- if template contains 'index' -%}
      {%- if settings.home_page_keywords != '' and settings.home_page_keywords != null -%}
        <meta name="keywords" content="{{settings.home_page_keywords}}"/>
      {%- else- %}
        <meta name="keywords" content="{{shop.name}}, {{shop.domain}}"/>
      {%- endif- %}
    {%- elsif template contains 'product'-%}
      <meta name="keywords" content="{{product.name}},
                                     {%- for collection in product.collections -%}{{collection.name}}, {%- endfor -%}
                                     {%- if product.tags.size > 0 -%}{%- for tag in product.tags -%}{{tag}}, {%- endfor -%}{%- endif -%}{{shop.name}}, {{shop.domain}}"/>
    {%- elsif template contains 'collection' -%}
      <meta name="keywords" content="{{collection.name }}, {{shop.name}}, {{shop.domain}}"/>
    {%- elsif template contains 'blog' -%}
      <meta name="keywords" content="{{blog.name }}, {{shop.name}}, {{shop.domain}}"/>
    {%- elsif template contains 'article' -%}
      <meta name="keywords" content="{{article.title}}, {{blog.name}},
                                     {%- if article.tags.size > 0-%}{%- for tag in article.tags -%}{{tag}}, {%- endfor -%}{%- endif -%}
                                     {{shop.name}}, {{shop.domain}}"/>
    {%- else -%}
      <meta name="keywords" content="{{page_title}}, {{shop.name}}, {{shop.domain}}"/>
    {%- endif -%}
  <meta name="author" content="{{ settings.home_page_author | default:'The4' }}">
  {%- include 'social-meta-tags' -%}
  {%- include 'head_css' -%}
  {{ 'theme.min.js'  | asset_url | script_tag }}
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
   <script>
      {%- assign font_body_text = settings.font_body_text -%}
   {%- assign font_titles_text = settings.font_titles_text -%}
   {%- assign font_sub_title_text = settings.font_sub_title_text -%}
     WebFont.load({
       google: {
         families: [
        {%- if font_body_text != blank -%}"{{font_body_text}}:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic"{%- endif -%}
        {%- if font_titles_text != blank and font_titles_text != font_body_text -%},"{{ font_titles_text }}:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic"{%- endif -%}
        {%- if font_sub_title_text != blank and font_sub_title_text != font_body_text and font_sub_title_text != font_titles_text -%},"{{ font_sub_title_text }}:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic"{%- endif -%}
       ]
       }
     });
   </script>
  {%- include 'theme_css' -%}
  {%- if settings.use_rtl -%}
  <style>
  .rtl {
    direction: rtl;
}
    body {
        direction: rtl;
        unicode-bidi: embed;
        letter-spacing: 0;
    }
    caption,
    th,
    td {
        text-align: right;
    }
    caption,
    th,
    td {
        text-align: right;
    }
    .fl {
        float: right;
    }
    .fr {
        float: left;
    }
    .alignleft {
        float: right;
        margin: 0.375em 0 1.75em 1.75em;
    }
    .alignright {
        float: left;
        margin: 0.375em 1.75em 1.75em 0;
    }
    h1, h2, h3, h4, h5, h6,
    input:not([type="submit"]):not([type="checkbox"]),
    textarea,
    select,
    input[type="submit"],
    button,
    a.button,
    a.button-o,
    input.button-o,
    button.button-o,
    a.button-o-w,
    .header__search input[type="text"],
    .jas-menu > li > a,
    #jas-mobile-menu ul li a,
    #jas-mobile-menu ul ul li a,
    #jas-footer .column .widget_nav_menu ul li a,
    .error-404.not-found,
    .error-404.not-found h1,
    .more-link,
    .post-related h5,
    .comment-reply-title,
    #wp-calendar caption,
    .shopify-message a,
    .jas-mini-cart .button,
    .sidebar .widget_shopping_cart .button,
    .jas-top-sidebar .yith-shopify-ajax-product-filter h4.widget-title,
    .shopify .product-category h2,
    .product-category h2,
    .shopify .product-category h3,
    .product-category h3,
    .entry-summary .single_add_to_cart_button,
    .entry-summary .external_single_add_to_cart_button,
    .star-rating,
    .stars,
    .popup__cart-product .modal_btn_add_to_cart,
    .edit-account legend,
    .jas-sc-blog .post-info h4,
    .metaslider .flexslider .caption-wrap h2 {
        letter-spacing: 0;
    }
    button,
    input[type="submit"] {
        white-space: nowrap;
    }
    #jas-header .jas-currency .current i {
        margin-left: 0;
        margin-right: 5px;
    }
    .jas-menu > li {
        float: right;
    }
    .jas-menu > li:not(:first-child) {
        margin-right: 50px;
        margin-left: 0;
    }
    .jas-mini-cart {
        right: auto;
        left: -320px;
    }
    .cart-opened .jas-mini-cart {
        right: auto;
        left: 0;
    }
    .jas-canvas-menu {
        left: auto;
        right: -320px;
    }
    .jas-mini-cart img,
    .widget_shopping_cart img {
        float: right;
        margin-right: 0;
        margin-left: 15px;
    }
    .jas-mini-cart .mini_cart_item, .widget_shopping_cart .mini_cart_item {
        text-align: right;
    }
    .jas-mini-cart .variation dt, .cart_item .variation dt, .widget_shopping_cart .variation dt {
        float: right;
        margin: 0 0 0 3px;
    }
    .menu-opened .jas-canvas-menu {
        left: auto;
        right: 0;
    }
    .jas-push-menu h3 i {
        left: auto;
        right: 8px;
    }
    .jas-push-menu h3 i.close-menu {
        left: 8px;
        right: auto;
    }
    #jas-mobile-menu,
    #jas-mobile-menu ul,
    #jas-mobile-menu ul li,
    #jas-mobile-menu ul li a {
        text-align: right;
    }
    .holder {
        left: -10px;
        right: auto;
    }
    .entry-summary .single_add_to_cart_button, .entry-summary .external_single_add_to_cart_button,.btn-atc .yith-wcwl-add-to-wishlist {
        float: right;
        margin-left: 0;
        margin-right: 15px;
    }
    .content-quickview {
        padding: 20px 0 20px 20px;
        text-align: right;
    }
    .product-extra .slick-prev {
        right: -4px;
        left: auto;
    }
    .product-extra .slick-next {
        right: auto;
        left: -4px;
    }
    .style-checkbox input {
        float: right;
        margin: 0 0 0 10px;
    }
    .style-checkbox label {
        left: auto;
        right: 0;
    }
    .shopify-MyAccount-navigation {
        float: right;
    }
    .shopify-MyAccount-content {
        float: left;
    }
    .shopify-MyAccount-navigation ul li {
        padding-left: 0;
        padding-right: 15px;
    }
    .shopify-MyAccount-navigation ul li::before {
        left: auto;
        right: 0;
    }
    .sub-categories+.result-count-order .shopify-ordering:after,
    .shopify-message+.result-count-order .shopify-ordering:after {
        left: 10px;
        right: auto;
    }
    .shopify-ordering select {
        width: 100%;
    }
    .product-category h2:before, .product-category h3:before {
      left: auto;
      right: 25px;
    }
    .product-category h2:after,
    .product-category h3:after {
      content: '\f177';
      right: 100px;
    }
    .shopify .product-category h2,
    .product-category h2,
    .shopify .product-category h3,
    .product-category h3 {
      left: auto;
      right: 15px;
    }
    #add_payment_method #payment div.payment_box::before,
    .shopify-checkout #payment div.payment_box::before {
        left: auto;
        margin: -1em 2em 0 0;
        right: 0;
    }
    .footer-contact {
        text-align: right;
    }
    .footer-contact i {
        margin-left: 5px;
        margin-right: 0;
    }
    .ypop-checkzone {
        text-align: right;
    }
    .ypop-checkzone input.no-view+span {
        float: right;
        margin-right: 0;
        margin-left: 8px;
    }
    .wpcf7-form p {
        text-align: right;
    }
    .wpcf7-form input:not([type="submit"]):not([type="checkbox"]),
    .wpcf7-form textarea,
    .wpcf7-form select {
        text-align: right;
    }
    .sidebar .widget ul li {
        padding-left: 0;
        padding-right: 15px;
    }
    .sidebar .widget ul li::before {
        right: 0;
        left:  auto;
    }
    #jas-footer-menu li {
        float: right;
        margin-left: 0;
        margin-right: 20px;
    }
    .p-nav .slick-slide {
        padding-right: 0;
        padding-left: 10px;
    }
    .p-video {
        right: auto;
        left: 20px;
    }
    .stars [class*="star"]::before {
        left: auto;
        right: 0;
    }
    .star-rating {
        letter-spacing: 3px !important;
    }
    .entry-summary .star-rating {
        margin: 0 0 0 5px;
    }
    .comment-text .star-rating,
    .entry-summary .star-rating {
        float: left;
        text-align: right;
    }
    .star-rating::before, .star-rating span::before {
        left: auto;
        right: 0;
    }
    .products .star-rating {
        text-align: center;
        letter-spacing: 3px !important;
    }
    .products  .star-rating span {
        right:  0;
    }
    .page-numbers li {
        float: right;
    }
    .rtl .mr__10 {
    margin-left: 10px;
        margin-right: 0;
    }
    .rtl .ml__5 {
        margin-right: 5px;
            margin-left: 0;
    }
    .rtl .jas-canvas-menu {
      left: auto;
      right: 0;
      transform: translate3d(320px,0,0);
      -webkit-transform: translate3d(320px,0,0);
      -ms-transform: translate3d(320px,0,0);
      -sand-transform: translate3d(320px,0,0);
      direction: ltr;
  }
  .rtl.menu-opened .jas-canvas-menu {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
.rtl .jas-mini-cart {
    right: auto;
    left: 0;
    transform: translate3d(-320px,0,0);
    -webkit-transform: translate3d(-320px,0,0);
    -ms-transform: translate3d(-320px,0,0);
    -sand-transform: translate3d(-320px,0,0);
}
.rtl.cart-opened .jas-mini-cart {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -sand-transform: translate3d(0,0,0);
}
.rtl #jas-mobile-menu #menu-main-menu {
    padding: 5px 20px 25px 0;
}
.rtl .holder {
     margin-left: 10px;
}
.cart__popup .cart__popup-title { margin-bottom: 0 }
.cart__popup_upsell .popup__cart-product .price {display: block;}
.rtl .ypop-checkzone input.no-view+span, input.jas_agree+span { margin-left: 8px;}
.rtl .btn-products-load-more .loading-label:before {
    margin-left: 8px;
    margin-right: -8px;
}
.rtl .product-category-dc .hover-wrap a:not(.jas-cat-url-overlay):after {
    margin-right: 5px;
    margin-left: 0;
}
.rtl .signup-newsletter-form input.submit-btn {
    right: auto;
    left: 4px;
}
.rtl .jas-menu-label {
    right: auto;
    left: -28px;
}
.rtl .widget h4.widget-title:after {
    left: auto;
    right: 0;
}
.rtl .yith-wcan-color li,.rtl .yith-wcan-label li {
    float: right;
}
.rtl .shopify .widget_layered_nav ul.yith-wcan-label li a,.rtl .shopify .widget_layered_nav ul.yith-wcan-label li span,
.rtl .sidebar .widget_layered_nav ul.yith-wcan-label li a,.rtl .sidebar .widget_layered_nav ul.yith-wcan-label li span,
.rtl .shopify .widget_layered_nav ul.yith-wcan-color li a,
.rtl .shopify .widget_layered_nav ul.yith-wcan-color li span, .rtl .sidebar .widget_layered_nav ul.yith-wcan-color li a,
.rtl .sidebar .widget_layered_nav ul.yith-wcan-color li span {
        margin-right: 0;
            margin-left: 10px;
}
.rtl .jas-currency ul {
    right: auto;
    left: -15px;
}
.rtl .shopify-message+.result-count-order .shopify-ordering select,
.rtl.template-collection .result-count-order .shopify-ordering select {
    background-position: left 10px center;
    padding-right: 10px;
    padding-left: 28px;
}
.rtl blockquote,.rtl q {
    padding: 30px 60px 30px 25px;
}
.rtl blockquote::before, .rtl q::before {
  content: '”';
    left: 0;
    right: 25px;
}
  </style>
  {%- endif -%}
  {%- include 'css_setting' -%}
  {%- if settings.show_custom_css -%}{{ 'custom.css' | asset_url | stylesheet_tag }}{%- endif-%}

  {%- if template contains 'product' -%}{%- include 'dc_check_variant' -%}{%- endif-%}
  {%- assign admin_shopify = false -%}
   {%- capture check_admin -%}{{ content_for_header }}
{{ 'nitro-bundle-upsell.scss.css'| asset_url | stylesheet_tag   }}{%- endcapture -%}
   {%- if check_admin contains 'design_mode' -%}{%- assign admin_shopify = true -%}{%- endif -%}
   {%- if settings.enable_ave_verification and admin_shopify == false -%}
   <noscript>
    <meta http-equiv="refresh" content="1; url={{settings.link_age_exit | default:'https://google.com/'}}" />
    </noscript>
    {%- endif -%}
  {{ content_for_header }}
  {{ 'main.css' | asset_url | stylesheet_tag }}

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-vlOMx0hKjUCl4WzuhIhSNZSm2yQCaf0mOU1hEDK/iztH3gU4v5NMmJln9273A6Jz" crossorigin="anonymous">
<!-- Hotjar Tracking Code for https://www.andersonsthemesanddreams.co.uk/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1569381,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
{%- include 'catelog_mod' -%}
<body class="template-{{template.name}} wrapper-{{settings.general_layout}} ajax-shop-{{settings.ajax_shop}} jas_action_{{settings.dc_options_add_to_cart_action}}{%- if settings.header_design == '7' %} header-lateral{%- endif %}{%- if settings.sticky_footer_enable %} footer_sticky{%- endif %}{%- if settings.body_bg_image != blank %} lazyload{%- endif %}{%- if settings.use_rtl %} rtl{%- endif %}{%- if customer %} logged-in{%- endif %}{% if checkout_active == false %} catalog_mode_on{%- endif -%}"{%- if settings.body_bg_image != blank %} data-bgset="{%- include 'bgset', image: settings.body_bg_image -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url({{ settings.body_bg_image | img_url: '50x50' }});"{%- endif -%}>
   <div class="jas-canvas-menu jas-push-menu">
         {%- include 'jas_mobile_menu' -%}
   </div>
   {%- if settings.cart_position == 'side' -%}
     {%- include 'cart_widget_side'-%}
     <!-- .jas-mini-cart -->
   {%- endif -%}
   <div id="jas-wrapper">
      {% comment %}include header{% endcomment %}
      {%- include 'header' -%}
      <!-- #jas-header -->
      <div id="jas-content" class="main-page-wrapper">
      {%- if template == 'collection' and settings.use_top_categories -%}{%- include 'shop_top_sidebar' -%}{%- endif -%}
          {{ content_for_layout }}
      </div>
      {% comment %}include footer{% endcomment %}
      {%- include 'footer' -%}
      <!-- #jas-footer -->
      {%- if settings.enable_cookies_popup -%}{%- include 'dc-cookies-popup' -%}{%- endif -%}
      {%- if settings.show_sticky_add -%}{%- include 'sticky_add_to_cart' -%}{%- endif -%}
      {%- if settings.enable_suggest_products -%}{%- include 'jas_suggest' -%}{%- endif -%}
   </div>
   <!-- #jas-wrapper -->
   {%- if settings.show_backtop -%}<a id="jas-backtop" class="pf br__50"><span class="tc bgp br__50 db cw"><i class="pr pe-7s-angle-up"></i></span></a>{%- endif -%}
   <div class="mask-overlay"></div>
   {%- if settings.swatch_style == '1' or settings.product_layout_setting == '1' or settings.quick_layout_setting == '1' -%}{%- section 'gl_custom_color' -%}{%- endif -%}
   {%- include 'dc_settings' -%}
   {%- if template.name == 'collection' or template.name == 'product' -%}{%- include 'seo_json' -%}{%- endif -%}
   {%- if pages[settings.delivery_return].content != blank and template contains 'product' -%}
  <div id="delivery-return" class="mfp-with-anim mfp-hide popup-quick-view">
    {%- unless pages[settings.delivery_return].content contains 'wc-content-help' -%}
    <div class="wc-content-help pr">{{ pages[settings.delivery_return].content }}</div>
    {%- else -%}
    {{ pages[settings.delivery_return].content }}
    {%- endunless -%}
  </div>
  {%- endif -%}
   {%- include 'theme_js' -%}
      {%- if admin_shopify -%}
       {{ 'fix.scss.css' | asset_url | stylesheet_tag }}
   {%- include 'adminThemeTool' -%}
   {%- endif -%}
   {%- include 'dc-promo-popup' -%}
   {%- if settings.enable_ave_verification -%}{%- include 'age-check' -%}{%- endif -%}
   {%- if settings.show_product_rating and settings.app_review == '2'-%}
   <!--  RYVIU APP -->
   <script src="https://ryviu-app.firebaseapp.com/client/reviews.js?shop={{shop.permanent_domain}}"></script>
   <!--  / RYVIU APP -->
   {%- elsif settings.show_product_page_rating and settings.app_review == '2'-%}
   <!--  RYVIU APP -->
   <script src="https://ryviu-app.firebaseapp.com/client/reviews.js?shop={{shop.permanent_domain}}"></script>
   <!--  / RYVIU APP -->
   {%- endif -%}
   {%- if settings.custom_js != blank -%}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'custom_js.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'custom_js.js' | asset_url }}"></script><![endif]-->
  {%- endif -%}
  {% comment %}{% include 'nitro-bundle-upsell'  %}
  {{ 'https://lookbook.teathemes.net/public/shop-libs/nitro-lookbook.js' | script_tag }}{% endcomment %}
</body>
</html>
