<div class="header-usp">

  {% for i in (1..4) %}
  {% assign usp_icon_id = 'usp_' | append: i | append: "_icon" %}
  {% assign usp_title_id = 'usp_' | append: i | append: "_title" %}
  {% assign usp_sub_text_id = 'usp_' | append: i | append: "_sub_text" %}
  {% assign icon = section.settings[usp_icon_id] | strip %}
  {% assign icon_arr = icon | split: "" %}
  <div class="header-usp__item">

    {% if icon contains "fa-" and icon contains "<i " and icon_arr.size < 58 %}
      <div class="header-usp__icon">
        {{ icon }}
      </div>
    {% endif %}

    <div class="header-usp__content">
      <h3>{{ section.settings[usp_title_id] }}</h3>
      <p>{{ section.settings[usp_sub_text_id] }}</p>
    </div>

     <div class="usp-row__usps__usp"></div>
  </div>
  {% endfor %}

</div>
{% schema %}
{
  "name": "USP Header",
  "settings": [
    {
      "type": "text",
      "id": "usp_1_icon",
      "label": "USP 1 Icon",
      "default": "<i class=\"fal fa-award\"></i>",
      "info": "Font Awesome Icon Class... Can be found here: https://fontawesome.com/icons/"
    },
    {
      "type": "text",
      "id": "usp_1_title",
      "label": "USP 1 Value",
      "default": "Quality Guarentee"
    },
    {
      "type": "text",
      "id": "usp_1_sub_text",
      "label": "USP 1 Sub Text",
      "default": "Lorem ipsum ipsum text"
    },
    {
      "type": "text",
      "id": "usp_2_icon",
      "label": "USP 2 Icon",
      "default": "<i class=\"fal fa-bell\"></i>",
      "info": "Font Awesome Icon Class... Can be found here: https://fontawesome.com/icons/"
    },
    {
      "type": "text",
      "id": "usp_2_title",
      "label": "USP 2 Value",
      "default": "Hassle REE Returns"
    },
    {
      "type": "text",
      "id": "usp_2_sub_text",
      "label": "USP 2 Sub Text",
      "default": "Lorem ipsum ipsum text"
    },
    {
      "type": "text",
      "id": "usp_3_icon",
      "label": "USP 3 Icon",
      "default": "<i class=\"fal fa-shipping-fast\"></i>",
      "info": "Font Awesome Icon Class... Can be found here: https://fontawesome.com/icons/"
    },
    {
      "type": "text",
      "id": "usp_3_title",
      "label": "USP 3 Value",
      "default": "FREE UK delivery"
    },
    {
      "type": "text",
      "id": "usp_3_sub_text",
      "label": "USP 3 Sub Text",
      "default": "Lorem ipsum ipsum text"
    },
    {
      "type": "text",
      "id": "usp_4_icon",
      "label": "USP 4 Icon",
      "default": "<i class=\"fal fa-shipping-fast\"></i>",
      "info": "Font Awesome Icon Class... Can be found here: https://fontawesome.com/icons/"
    },
    {
      "type": "text",
      "id": "usp_4_title",
      "label": "USP 4 Value",
      "default": "FREE UK delivery"
    },
    {
      "type": "text",
      "id": "usp_4_sub_text",
      "label": "USP 4 Sub Text",
      "default": "Lorem ipsum ipsum text"
    }
  ]
}
{% endschema %}
