{%- include 'style_mp_section' -%}
<div class="jas-row jas_custom_{{section.id}} jas-banner-parallax dc-parallax{%- if section.settings.use_background_overlay %} jas_background-overlay{%- endif %}{%- if section.settings.image != blank %} lazyload{%- endif %}"{%- if section.settings.image != blank or section.settings.section_bg_color != blank %} data-bgset="{%- include 'bgset', image: section.settings.image -%}" data-sizes="auto" data-parent-fit="cover" style="{%- if section.settings.section_bg_color != blank -%}background-color: {{section.settings.section_bg_color}};{%- endif -%}{%- if section.settings.image != blank -%}background-image: url('{{ section.settings.image | img_url: '50x50' }}');{%- endif -%}"{%- endif -%}>
   <div class="clearfix{%- if section.settings.use_container %} jas-container{%- else %} jas-col-xs-12{%- endif -%}">
      <div class="jas-row">
         {%- if section.blocks.size > 0 -%}
            {% for block in section.blocks %}
               <div class="jas-col-sm-{{block.settings.width}} jas-col-xs-12">
                  <div class="jas-service {{block.settings.text_align}} mt__30">
                     {%- if block.settings.icon != blank -%}<div class="icon {{block.settings.icon_size}} cp" style="color: {{block.settings.icon_color}}"><i class="{%- if block.settings.icon contains 'fa' %}fa {% endif -%}{{ block.settings.icon }}"></i></div>{%- endif -%}
                     <div class="content {{block.settings.text_content_align}}">
                        <h3 class="title cp tu fs__14 mg__0 mb__5" style="color: {{block.settings.title_color}}">{{ block.settings.title }}</h3>
                        <p class="mg__0" style="color: {{block.settings.text_color}}">{{ block.settings.text }}</p>
                     </div>
                  </div>
               </div>
            {%- endfor -%}
         {%- endif -%}
         {%- if section.blocks.size == 0 -%}
          {%- include 'no-blocks' -%}
         {%- endif -%}
      </div>
   </div>
</div>
{% schema %}
  {
    "name": "Shipping Info",
    "class": "jas-section type_jas_shipping clearfix",
    "settings": [
     {
        "type": "header",
        "content": "== General Settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background color"
      },
     {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "checkbox",
        "id": "use_container",
        "label": "Use container?",
        "default": true
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_left",
        "label": "Margin left",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_right",
        "label": "Margin right",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_top",
        "label": "Padding top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_right",
        "label": "Padding right",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_bottom",
        "label": "Padding bottom",
        "default":"30px",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_left",
        "label": "Padding left",
        "info": "60px"
      }
    ],
    "blocks": [
      {
        "type": "Shipping",
        "name": "Shipping",
        "settings": [
            {
           "type": "select",
           "id": "width",
           "options": [
            {
               "value": "3",
               "label": "25%"
             },
             {
               "value": "4",
               "label": "33.33333333%"
             },
             {
               "value": "6",
               "label": "50%"
             },
             {
               "value": "8",
               "label": "66.66666667%"
             },
             {
               "value": "12",
               "label": "100%"
             }
           ],
           "label": "== Select column width",
           "default": "3"
         },
            {
              "type": "header",
              "content": "== Icon Options"
            },
            {
               "type": "text",
               "id": "icon",
               "label": "Icons font for shpping icons",
               "info": "Example: fa-gift Example:  pe-7s-close [Get icons pe your](http:\/\/themes-pixeden.com\/font-demos\/7-stroke/) or [Get icons fa your](http:\/\/fontawesome.io\/icons/)",
               "default": "pe-7s-car"
             },
              {
              "type": "select",
              "id": "text_align",
              "label": "Icon align",
              "default": "tl",
              "options": [
               {
                  "label": "Left",
                  "value": "tl"
                },
                {
                  "label": "Right",
                  "value": "tr"
                }
              ]
            },
            {
              "type": "select",
              "id": "icon_size",
              "label": "Icon size",
              "default": "medium",
              "options": [
               {
                  "label": "Small",
                  "value": "small"
                },
                {
                  "label": "Medium",
                  "value": "medium"
                },
                {
                  "label": "Large",
                  "value": "large"
                }
              ]
            },
            {
              "type": "color",
              "id": "icon_color",
              "label": "Icon color",
              "default": "#9e9e9e"
            },
            {
              "type": "header",
              "content": "== Text Options"
            },
            {
              "type": "select",
              "id": "text_content_align",
              "label": "Text align",
              "default": "tl",
              "options": [
               {
                  "label": "Left",
                  "value": "tl"
                },
                {
                  "label": "Right",
                  "value": "tr"
                },
                {
                  "label": "Center",
                  "value": "tc"
                }
              ]
            },
            {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title"
          },
            {
              "type": "color",
              "id": "title_color",
              "label": "Heading color",
              "default": "#222222"
            },
            {
               "type": "textarea",
               "id": "text",
               "label": "Text",
               "default": "Use this text to describe."
             },
            {
              "type": "color",
              "id": "text_color",
              "label": "Text color",
              "default": "#878787"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shipping Info",
        "category": "== Shipping",
        "blocks": [
          {
            "type": "Shipping"
          },
          {
            "type": "Shipping"
          },
          {
            "type": "Shipping"
          },
          {
            "type": "Shipping"
          }
        ]
      }
    ]
  }
{% endschema %}
