<div class="{{-section.class-}}" data-section-id="{{- section.id -}}">{%- if section.settings.nitro_lookbook_id != blank -%}{% include 'reshortcode' reload: shop.metafields['nitro-lookbook'][section.settings.nitro_lookbook_id] %}{%- endif -%}</div>{% schema %}{"name":"Nitro Lookbook","class":"nitro-lookbook-section","settings":[{"type":"header","content":"Nitro Lookbook"},
{"type":"select","id":"nitro_lookbook_id","label":"Select your Lookbook",
"options":[{"label":"Lookbook Slider ","value":"slider-lookbook-619"}]}],"presets":[{"name":"Nitro Lookbook Section","category":"Lookbook"}]}{% endschema %}