{%- assign check_tag = false -%}
{%- if current_tags != blank -%}
  {%- assign all_tags_downcase = collection.tags | downcase -%}
  {%- assign check_tag = true -%}
  {%- assign list_current_tag = '' -%}
  {%- for current_tag in current_tags -%}
      {%- assign current_tag_downcase = current_tag | downcase -%}
      {%- assign list_current_tag = list_current_tag | append:current_tag_downcase | append:',' -%}
   {%- endfor -%}
   {%- assign current_tags = list_current_tag | split:',' -%}
{%- else -%}
   {%- assign all_tags_downcase = collection.all_tags | downcase -%}
{%- endif -%}
{%- assign current_tag_downcase = current_tags | downcase -%}
{%- if pop_default %}
	{%- case section.blocks.size -%}
	   {%- when 1 -%}{%- assign class_md = '12' -%}
	   {%- when 2 -%}{%- assign class_md = '6' -%}
	   {%- when 3 -%}{%- assign class_md = '4' -%}
	   {%- else -%}{%- assign class_md = '3' -%}
	{%- endcase -%}
{%- endif -%}
{%- assign arrbrand = '' -%}
{%- assign arrcolor = '' -%}
{%- assign arrsize = '' -%}
{%- assign arrtag = '' -%}
{%- assign arrprice = '' -%}
{%- assign arrother = '' -%}
{%- assign arrother2 = '' -%}
{%- assign arrother3 = '' -%}
{%- for tag in collection.all_tags -%}
   {%- assign tag_dow = tag | downcase -%}
   {%- for block in section.blocks -%}
      {%- case block.type -%}
	      {%- when 'brand' -%}
	         {%- if block.settings.use_auto_filter_tag -%}
		      {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
		      {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
		      {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			      {%- if tag_dow contains key or tag_dow contains key_2 or tag_dow contains key_3 -%}
		               {%- assign arrbrand = arrbrand | append:tag_dow |append:',' -%}
		         {%- endif -%}
	         {%- endif -%}
	      {%- when 'color' -%}
	         {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
	            {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			      {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			      {%- if tag_dow contains key or tag_dow contains key_2 or tag_dow contains key_3 -%}
		               {%- assign arrcolor = arrcolor | append:tag_dow |append:',' -%}
		         {%- endif -%}
	         {%- endif -%}
	      {%- when 'size' -%}
	         {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
	            {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
		        {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
		        {%- if tag_dow contains key or tag_dow contains key_2 or tag_dow contains key_3 -%}
		               {%- assign arrsize = arrsize | append:tag_dow |append:',' -%}
		         {%- endif -%}
	         {%- endif -%}
	      {%- when 'tag' -%}
	         {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
			    {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_'| downcase  -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			      {%- if tag_dow contains key or tag_dow contains key_2 or tag_dow contains key_3 -%}
		               {%- assign arrtag = arrtag | append:tag_dow |append:',' -%}
		         {%- endif -%}
	         {%- endif -%}
	      {%- when 'price' -%}
	         {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
			    {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			      {%- if tag_dow contains key or tag_dow contains key_2 or tag_dow contains key_3 -%}
		               {%- assign arrprice = arrprice | append:tag_dow |append:',' -%}
		         {%- endif -%}
	         {%- endif -%}
	      {%- when 'other' -%}
	         {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
			    {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			      {%- if tag_dow contains key or tag_dow contains key_2 or tag_dow contains key_3 -%}
		               {%- assign arrother = arrother | append:tag_dow |append:',' -%}
		         {%- endif -%}
	         {%- endif -%}
	      {%- when 'other2' -%}
	         {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
			    {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			      {%- if tag_dow contains key or tag_dow contains key_2 or tag_dow contains key_3 -%}
		               {%- assign arrother2 = arrother2 | append:tag_dow |append:',' -%}
		         {%- endif -%}
	         {%- endif -%}
	      {%- else -%}
	         {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
			    {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			      {%- if tag_dow contains key or tag_dow contains key_2 or tag_dow contains key_3 -%}
		               {%- assign arrother3 = arrother3 | append:tag_dow |append:',' -%}
		         {%- endif -%}
	         {%- endif -%}
      {%- endcase -%}
   {%- endfor -%}  
{%- endfor -%}
<div class="filter-content">
	{%- for block in section.blocks -%}
	   {%- case block.type -%}
	      {%- when 'brand' -%}
	         {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
	            {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			    {%- assign tags = arrbrand | split: ',' | uniq -%}
            {%- else -%}
               {%- assign tags = block.settings.arra_enter | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq -%}
            {%- endif -%}
	         {%- if tags.size > 0 and block.settings.hidden_block == false -%}
		         <aside id="yith-woo-ajax-navigation-{{block.id}}" class="jas_ajaxFilter widget yith-shopify-ajax-product-filter yith-woo-ajax-navigation shopify widget_layered_nav{%- if pop_default %} jas-col-xs-12 jas-col-sm-6 jas-col-md-{{class_md}}{%- endif -%}">
			         {%- if pop_default -%}<h4 class="widget-title">{{ block.settings.title }}</h4>
			         {%- else -%}<h3 class="widget-title tu fwsb">{{ block.settings.title }}</h3>{%- endif -%}
			         {%- assign check_tag_hide = true -%}
			         <ul class="yith-wcan-label yith-wcan yith-wcan-group">
			         	{%- assign arr_check = '' -%}
			         	{%- if current_tags.size > 0 or check_tag -%}
				         	{%- for tag in tags -%}
				         	   {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
				         	   {%- unless arr_check contains tag_key -%}
					         	   {%- assign tag_dow = tag | downcase -%}
					         	   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
					         	   {%- if current_tag_downcase contains tag_downcase -%}
										   <li class="chosen remove_tag">{{ tag_key | link_to_remove_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif block.settings.use_auto_filter_tag and tag != blank -%}
									       <li>{{ tag_key| link_to_add_tag: tag_dow }}</li>
									       {%- assign check_tag_hide = false -%}
									       {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif all_tags_downcase contains tag_downcase -%}
										   <li>{{ tag | link_to_add_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag |append:',' -%}
									   {%- endif -%}
									{%- endunless -%}
								{%- endfor -%}
							{%- else -%}
							   {%- for tag in tags -%}
							      {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
							      {%- unless arr_check contains tag_key -%}
									   {%- assign tag_dow = tag | downcase -%}
									   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
									   {%- if block.settings.use_auto_filter_tag and tag != blank -%}
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									      <li>{{ tag_key | link_to_add_tag: tag }}</li>
									   {%- else -%}
										   {%- if all_tags_downcase contains tag_downcase -%}
										      {%- assign check_tag_hide = false -%}
										      {%- assign arr_check = arr_check | append:tag |append:',' -%}
										      <li>{{ tag | link_to_add_tag: tag }}</li>
										   {%- endif -%}
										{%- endif -%}
									{%- endunless -%}
							   {%- endfor -%}
							{%- endif -%}
			         </ul>
			      </aside>
			      {%- if check_tag_hide -%}<style type="text/css">#yith-woo-ajax-navigation-{{block.id}}{display: none}</style>{%- endif -%}
		      {%- endif -%}
	      {%- when 'color' -%}
	         {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
	            {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			    {%- assign tags = arrcolor | split: ',' | uniq -%}
            {%- else -%}
               {%- assign tags = block.settings.arra_enter | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq -%}
            {%- endif -%}
	         {%- if tags.size > 0 and block.settings.hidden_block == false -%}
		         <aside id="yith-woo-ajax-navigation-{{block.id}}" class="jas_ajaxFilter widget yith-shopify-ajax-product-filter yith-woo-ajax-navigation shopify widget_layered_nav{%- if pop_default %} jas-col-xs-12 jas-col-sm-6 jas-col-md-{{class_md}}{%- endif -%}">
			         {%- if pop_default -%}<h4 class="widget-title">{{ block.settings.title }}</h4>
			         {%- else -%}<h3 class="widget-title tu fwsb">{{ block.settings.title }}</h3>
			         {%- endif -%}
			         {%- assign check_tag_hide = true -%}
			         <ul class="yith-wcan-color yith-wcan yith-wcan-group jas_filter_color">
			         	{%- assign arr_check = '' -%}
			         	{%- if current_tags.size > 0 or check_tag -%}
				         	{%- for tag in tags -%}
				         	   {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
				         	   {%- unless arr_check contains tag_key -%}
					         	   {%- assign tag_dow = tag | downcase -%}
					         	   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
					         	   {%- assign tag_handle = tag | handleize -%}
										{%- assign class_name = 'class="bg_color_' | append: tag_handle | append: '"title=' -%}
					         	   {%- if block.settings.use_auto_filter_tag and current_tag_downcase contains tag_downcase -%}
								         {%- assign tag_handle = tag_key | handleize -%}
								         {%- assign class_name = 'class="bg_color_' | append: tag_handle | append: '"title=' -%}
										   <li class="chosen remove_tag">{{ '' | link_to_remove_tag: tag_dow | replace: 'title=', class_name }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
					         	   {%- elsif current_tag_downcase contains tag_downcase -%}
										   <li class="chosen remove_tag">{{ '' | link_to_remove_tag: tag_dow | replace: 'title=', class_name }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag |append:',' -%}
									   {%- elsif block.settings.use_auto_filter_tag and tag != blank -%}
								         {%- assign tag_handle = tag_key | handleize -%}
								         {%- assign class_name = 'class="bg_color_' | append: tag_handle | append: '"title=' -%}
									       <li>{{ '' | link_to_add_tag: tag_dow | replace: 'title=', class_name }}</li>
									       {%- assign check_tag_hide = false -%}
									       {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif all_tags_downcase contains tag_downcase -%}
										   <li>{{ '' | link_to_add_tag: tag_dow | replace: 'title=', class_name }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag |append:',' -%}
									   {%- endif -%}
									{%- endunless -%}
								{%- endfor -%}
							{%- else -%}
							   {%- for tag in tags -%}
							      {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
							      {%- unless arr_check contains tag_key -%}
									   {%- if block.settings.use_auto_filter_tag and tag != blank -%}
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									      {%- assign tag_handle = tag_key | handleize -%}
											{%- assign class_name = 'class="bg_color_' | append: tag_handle | append: '"title=' -%}
									      <li>{{ '' | link_to_add_tag: tag | replace: 'title=', class_name }}</li>
									   {%- else -%}
										   {%- assign tag_dow = tag | downcase -%}
										   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
										   {%- if all_tags_downcase contains tag_downcase -%}
										      {%- assign check_tag_hide = false -%}
										      {%- assign arr_check = arr_check | append:tag |append:',' -%}
										      {%- assign tag_handle = tag | handleize -%}
											   {%- assign class_name = 'class="bg_color_' | append: tag_handle | append: '"title=' -%}
											   <li>{{ '' | link_to_tag: tag_dow | replace: 'title=', class_name }}</li>
										   {%- endif -%}
									   {%- endif -%}
									{%- endunless -%}
							   {%- endfor -%}
							{%- endif -%}
			         </ul>
			      </aside>
			      {%- if check_tag_hide -%}<style type="text/css">#yith-woo-ajax-navigation-{{block.id}}{display: none}</style>{%- endif -%}
		      {%- endif -%}
	      {%- when 'size' -%}
	          {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
	            {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			    {%- assign tags = arrsize | split: ',' | uniq -%}
            {%- else -%}
               {%- assign tags = block.settings.arra_enter | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq -%}
            {%- endif -%}
	         {%- if tags.size > 0 and block.settings.hidden_block == false -%}
		         <aside id="yith-woo-ajax-navigation-{{block.id}}" class="jas_ajaxFilter widget yith-shopify-ajax-product-filter yith-woo-ajax-navigation shopify widget_layered_nav{%- if pop_default %} jas-col-xs-12 jas-col-sm-6 jas-col-md-{{class_md}}{%- endif -%}">
			         {%- if pop_default -%}<h4 class="widget-title">{{ block.settings.title }}</h4>
			         {%- else -%}<h3 class="widget-title tu fwsb">{{ block.settings.title }}</h3>
			         {%- endif -%}
			         {%- assign check_tag_hide = true -%}
			         <ul class="{%- if block.settings.style == '1' -%}yith-wcan-list yith-wcan size{%- else -%}yith-wcan-label yith-wcan yith-wcan-group{%- endif -%}">
			         	{%- assign arr_check = '' -%}
			         	{%- if current_tags.size > 0 or check_tag -%}
				         	{%- for tag in tags -%}
				         	   {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
				         	   {%- unless arr_check contains tag_key -%}
					         	   {%- assign tag_dow = tag | downcase -%}
					         	   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
					         	   {%- if current_tag_downcase contains tag_downcase -%}
										   <li class="chosen remove_tag">{{ tag_key | link_to_remove_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif block.settings.use_auto_filter_tag and tag != blank -%}
									       <li>{{ tag_key| link_to_add_tag: tag_dow }}</li>
									       {%- assign check_tag_hide = false -%}
									       {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif all_tags_downcase contains tag_downcase -%}
										   <li>{{ tag | link_to_add_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag |append:',' -%}
									   {%- endif -%}
									{%- endunless -%}
								{%- endfor -%}
							{%- else -%}
							   {%- for tag in tags -%}
								   {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
								   {%- unless arr_check contains tag_key -%}
									   {%- assign tag_dow = tag | downcase -%}
									   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
								      {%- if block.settings.use_auto_filter_tag and tag != blank -%}
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									      <li>{{ tag_key | link_to_add_tag: tag }}</li>
									   {%- else -%}
										   {%- if all_tags_downcase contains tag_downcase -%}
										      {%- assign check_tag_hide = false -%}
										      {%- assign arr_check = arr_check | append:tag |append:',' -%}
										      <li>{{ tag | link_to_add_tag: tag }}</li>
										   {%- endif -%}
										{%- endif -%}
									{%- endunless -%}
							   {%- endfor -%}
							{%- endif -%}
			         </ul>
			      </aside>
			      {%- if check_tag_hide -%}<style type="text/css">#yith-woo-ajax-navigation-{{block.id}}{display: none}</style>{%- endif -%}
		      {%- endif -%}
		   {%- when 'tag' -%}
		      {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
	            {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			    {%- assign tags = arrtag | split: ',' | uniq -%}
            {%- else -%}
               {%- assign tags = block.settings.arra_enter | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq -%}
            {%- endif -%}
	         {%- if tags.size > 0 and block.settings.hidden_block == false -%}
		         <aside id="yith-woo-ajax-navigation-{{block.id}}" class="jas_ajaxFilter widget yith-shopify-ajax-product-filter yith-woo-ajax-navigation shopify widget_layered_nav{%- if pop_default %} jas-col-xs-12 jas-col-sm-6 jas-col-md-{{class_md}}{%- endif -%}">
			         {%- if pop_default -%}<h4 class="widget-title">{{ block.settings.title }}</h4>
			         {%- else -%}<h3 class="widget-title tu fwsb">{{ block.settings.title }}</h3>
			         {%- endif -%}
			         {%- assign check_tag_hide = true -%}
			         <ul class="yith-wcan-label yith-wcan yith-wcan-group">
			         	{%- assign arr_check = '' -%}
			         	{%- if current_tags.size > 0 or check_tag -%}
				         	{%- for tag in tags -%}
				         	   {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
				         	   {%- unless arr_check contains tag_key -%}
					         	   {%- assign tag_dow = tag | downcase -%}
					         	   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
					         	   {%- if current_tag_downcase contains tag_downcase -%}
										   <li class="chosen remove_tag">{{ tag_key | link_to_remove_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif block.settings.use_auto_filter_tag and tag != blank -%}
									       <li>{{ tag_key| link_to_add_tag: tag_dow }}</li>
									       {%- assign check_tag_hide = false -%}
									       {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif all_tags_downcase contains tag_downcase -%}
										   <li>{{ tag | link_to_add_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag |append:',' -%}
									   {%- endif -%}
									{%- endunless -%}
								{%- endfor -%}
							{%- else -%}
							   {%- for tag in tags -%}
							      {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
							      {%- unless arr_check contains tag_key -%}
									   {%- assign tag_dow = tag | downcase -%}
									   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
									   {%- if block.settings.use_auto_filter_tag and tag != blank -%}
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									      <li>{{ tag_key | link_to_add_tag: tag }}</li>
									   {%- else -%}
										   {%- if all_tags_downcase contains tag_downcase -%}
										      {%- assign check_tag_hide = false -%}
										      {%- assign arr_check = arr_check | append:tag |append:',' -%}
										      <li>{{ tag | link_to_add_tag: tag }}</li>
										   {%- endif -%}
										{%- endif -%}
									{%- endunless -%}
							   {%- endfor -%}
							{%- endif -%}
			         </ul>
			      </aside>
			      {%- if check_tag_hide -%}<style type="text/css">#yith-woo-ajax-navigation-{{block.id}}{display: none}</style>{%- endif -%}
		      {%- endif -%}
	      {%- when 'price' -%}
	         {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
	            {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			    {%- assign tags = arrprice | split: ',' | uniq -%}
            {%- else -%}
               {%- assign tags = block.settings.arra_enter | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq -%}
            {%- endif -%}
	         {%- if tags.size > 0 and block.settings.hidden_block == false -%}
		         <aside id="yith-woo-ajax-navigation-{{block.id}}" class="jas_ajaxFilter widget yith-shopify-ajax-product-filter yith-woo-ajax-navigation shopify widget_layered_nav{%- if pop_default %} jas-col-xs-12 jas-col-sm-6 jas-col-md-{{class_md}}{%- endif -%}">
			         {%- if pop_default -%}<h4 class="widget-title">{{ block.settings.title }}</h4>
			         {%- else -%}<h3 class="widget-title tu fwsb">{{ block.settings.title }}</h3>
			         {%- endif -%}
			         {%- assign check_tag_hide = true -%}
			         <ul class="yith-wcan">
			         	{%- assign arr_check = '' -%}
			         	{%- if current_tags.size > 0 or check_tag -%}
				         	{%- for tag in tags -%}
				         	   {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
				         	   {%- unless arr_check contains tag_key -%}
					         	   {%- assign tag_dow = tag | downcase -%}
					         	   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
					         	   {%- if current_tag_downcase contains tag_downcase -%}
										   <li class="chosen remove_tag">{{ tag_key | link_to_remove_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif block.settings.use_auto_filter_tag and tag != blank -%}
									       <li>{{ tag_key| link_to_add_tag: tag_dow }}</li>
									       {%- assign check_tag_hide = false -%}
									       {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif all_tags_downcase contains tag_downcase -%}
										   <li>{{ tag | link_to_add_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag |append:',' -%}
									   {%- endif -%}
									{%- endunless -%}
								{%- endfor -%}
							{%- else -%}
							   {%- for tag in tags -%}
							      {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
							      {%- unless arr_check contains tag_key -%}
									   {%- assign tag_dow = tag | downcase -%}
									   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
									   {%- if block.settings.use_auto_filter_tag and tag != blank -%}
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									      <li>{{ tag_key | link_to_add_tag: tag }}</li>
									   {%- else -%}
										   {%- if all_tags_downcase contains tag_downcase -%}
										      {%- assign check_tag_hide = false -%}
										      {%- assign arr_check = arr_check | append:tag |append:',' -%}
										      <li>{{ tag | link_to_add_tag: tag }}</li>
										   {%- endif -%}
										{%- endif -%}
									{%- endunless -%}
							   {%- endfor -%}
							{%- endif -%}
			         </ul>
			      </aside>
			      {%- if check_tag_hide -%}<style type="text/css">#yith-woo-ajax-navigation-{{block.id}}{display: none}</style>{%- endif -%}
		      {%- endif -%}
		   {%- when 'other' -%}
		      {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
	            {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			    {%- assign tags = arrother | split: ',' | uniq -%}
            {%- else -%}
               {%- assign tags = block.settings.arra_enter | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq -%}
            {%- endif -%}
	         {%- if tags.size > 0 and block.settings.hidden_block == false -%}
		         <aside id="yith-woo-ajax-navigation-{{block.id}}" class="jas_ajaxFilter widget yith-shopify-ajax-product-filter yith-woo-ajax-navigation shopify widget_layered_nav{%- if pop_default %} jas-col-xs-12 jas-col-sm-6 jas-col-md-{{class_md}}{%- endif -%}">
			         {%- if pop_default -%}<h4 class="widget-title">{{ block.settings.title }}</h4>
			         {%- else -%}<h3 class="widget-title tu fwsb">{{ block.settings.title }}</h3>
			         {%- endif -%}
			         {%- assign check_tag_hide = true -%}
			         <ul class="yith-wcan">
			         	{%- assign arr_check = '' -%}
			         	{%- if current_tags.size > 0 or check_tag -%}
				         	{%- for tag in tags -%}
				         	   {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
				         	   {%- unless arr_check contains tag_key -%}
					         	   {%- assign tag_dow = tag | downcase -%}
					         	   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
					         	   {%- if current_tag_downcase contains tag_downcase -%}
										   <li class="chosen remove_tag">{{ tag_key | link_to_remove_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif block.settings.use_auto_filter_tag and tag != blank -%}
									       <li>{{ tag_key| link_to_add_tag: tag_dow }}</li>
									       {%- assign check_tag_hide = false -%}
									       {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif all_tags_downcase contains tag_downcase -%}
										   <li>{{ tag | link_to_add_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag |append:',' -%}
									   {%- endif -%}
									{%- endunless -%}
								{%- endfor -%}
							{%- else -%}
							   {%- for tag in tags -%}
							      {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
							      {%- unless arr_check contains tag_key -%}
									   {%- assign tag_dow = tag | downcase -%}
									   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
									   {%- if block.settings.use_auto_filter_tag and tag != blank -%}
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									      <li>{{ tag_key | link_to_add_tag: tag }}</li>
									   {%- else -%}
										   {%- if all_tags_downcase contains tag_downcase -%}
										      {%- assign check_tag_hide = false -%}
										      {%- assign arr_check = arr_check | append:tag |append:',' -%}
										      <li>{{ tag | link_to_add_tag: tag }}</li>
										   {%- endif -%}
										{%- endif -%}
									{%- endunless -%}
							   {%- endfor -%}
							{%- endif -%}
			         </ul>
			      </aside>
			      {%- if check_tag_hide -%}<style type="text/css">#yith-woo-ajax-navigation-{{block.id}}{display: none}</style>{%- endif -%}
		      {%- endif -%}
		   {%- when 'other2' -%}
		      {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
	            {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			    {%- assign tags = arrother2 | split: ',' | uniq -%}
            {%- else -%}
               {%- assign tags = block.settings.arra_enter | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq -%}
            {%- endif -%}
	         {%- if tags.size > 0 and block.settings.hidden_block == false -%}
		         <aside id="yith-woo-ajax-navigation-{{block.id}}" class="jas_ajaxFilter widget yith-shopify-ajax-product-filter yith-woo-ajax-navigation shopify widget_layered_nav{%- if pop_default %} jas-col-xs-12 jas-col-sm-6 jas-col-md-{{class_md}}{%- endif -%}">
			         {%- if pop_default -%}<h4 class="widget-title">{{ block.settings.title }}</h4>
			         {%- else -%}<h3 class="widget-title tu fwsb">{{ block.settings.title }}</h3>
			         {%- endif -%}
			         {%- assign check_tag_hide = true -%}
			         <ul class="yith-wcan">
			         	{%- assign arr_check = '' -%}
			         	{%- if current_tags.size > 0 or check_tag -%}
				         	{%- for tag in tags -%}
				         	   {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
				         	   {%- unless arr_check contains tag_key -%}
					         	   {%- assign tag_dow = tag | downcase -%}
					         	   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
					         	   {%- if current_tag_downcase contains tag_downcase -%}
										   <li class="chosen remove_tag">{{ tag_key | link_to_remove_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif block.settings.use_auto_filter_tag and tag != blank -%}
									       <li>{{ tag_key| link_to_add_tag: tag_dow }}</li>
									       {%- assign check_tag_hide = false -%}
									       {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif all_tags_downcase contains tag_downcase -%}
										   <li>{{ tag | link_to_add_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag |append:',' -%}
									   {%- endif -%}
									{%- endunless -%}
								{%- endfor -%}
							{%- else -%}
							   {%- for tag in tags -%}
							      {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
							      {%- unless arr_check contains tag_key -%}
									   {%- assign tag_dow = tag | downcase -%}
									   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
									   {%- if block.settings.use_auto_filter_tag and tag != blank -%}
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									      <li>{{ tag_key | link_to_add_tag: tag }}</li>
									   {%- else -%}
										   {%- if all_tags_downcase contains tag_downcase -%}
										      {%- assign check_tag_hide = false -%}
										      {%- assign arr_check = arr_check | append:tag |append:',' -%}
										      <li>{{ tag | link_to_add_tag: tag }}</li>
										   {%- endif -%}
										{%- endif -%}
									{%- endunless -%}
							   {%- endfor -%}
							{%- endif -%}
			         </ul>
			      </aside>
			      {%- if check_tag_hide -%}<style type="text/css">#yith-woo-ajax-navigation-{{block.id}}{display: none}</style>{%- endif -%}
		      {%- endif -%}
		   {%- when 'other3' -%}
		      {%- if block.settings.use_auto_filter_tag -%}
	            {%- assign key = block.settings.key | default:'nttzzz' | append:' ' | downcase -%}
	            {%- assign key_2 = block.settings.key | default:'nttzzz' | append:'_' | downcase -%}
			    {%- assign key_3 = block.settings.key | default:'nttzzz' | append:'-' | downcase -%}
			    {%- assign tags = arrother | split: ',' | uniq -%}
            {%- else -%}
               {%- assign tags = block.settings.arra_enter | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq -%}
            {%- endif -%}
	         {%- if tags.size > 0 and block.settings.hidden_block == false -%}
		         <aside id="yith-woo-ajax-navigation-{{block.id}}" class="jas_ajaxFilter widget yith-shopify-ajax-product-filter yith-woo-ajax-navigation shopify widget_layered_nav{%- if pop_default %} jas-col-xs-12 jas-col-sm-6 jas-col-md-{{class_md}}{%- endif -%}">
			         {%- if pop_default -%}<h4 class="widget-title">{{ block.settings.title }}</h4>
			         {%- else -%}<h3 class="widget-title tu fwsb">{{ block.settings.title }}</h3>
			         {%- endif -%}
			         {%- assign check_tag_hide = true -%}
			         <ul class="yith-wcan">
			         	{%- assign arr_check = '' -%}
			         	{%- if current_tags.size > 0 or check_tag -%}
				         	{%- for tag in tags -%}
				         	   {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
				         	   {%- unless arr_check contains tag_key -%}
					         	   {%- assign tag_dow = tag | downcase -%}
					         	   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
					         	   {%- if current_tag_downcase contains tag_downcase -%}
										   <li class="chosen remove_tag">{{ tag_key | link_to_remove_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif block.settings.use_auto_filter_tag and tag != blank -%}
									       <li>{{ tag_key| link_to_add_tag: tag_dow }}</li>
									       {%- assign check_tag_hide = false -%}
									       {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									   {%- elsif all_tags_downcase contains tag_downcase -%}
										   <li>{{ tag | link_to_add_tag: tag_dow }}</li>
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag |append:',' -%}
									   {%- endif -%}
									{%- endunless -%}
								{%- endfor -%}
							{%- else -%}
							   {%- for tag in tags -%}
							      {%- assign tag_key = tag | remove:key_3 | remove:key_2 | remove:key -%}
							      {%- unless arr_check contains tag_key -%}
									   {%- assign tag_dow = tag | downcase -%}
									   {%- assign tag_downcase = tag_dow | append: '"' | prepend: '"'-%}
									   {%- if block.settings.use_auto_filter_tag and tag != blank -%}
									      {%- assign check_tag_hide = false -%}
									      {%- assign arr_check = arr_check | append:tag_key |append:',' -%}
									      <li>{{ tag_key | link_to_add_tag: tag }}</li>
									   {%- else -%}
										   {%- if all_tags_downcase contains tag_downcase -%}
										      {%- assign check_tag_hide = false -%}
										      {%- assign arr_check = arr_check | append:tag |append:',' -%}
										      <li>{{ tag | link_to_add_tag: tag }}</li>
										   {%- endif -%}
										{%- endif -%}
									{%- endunless -%}
							   {%- endfor -%}
							{%- endif -%}
			         </ul>
			      </aside>
			      {%- if check_tag_hide -%}<style type="text/css">#yith-woo-ajax-navigation-{{block.id}}{display: none}</style>{%- endif -%}
		      {%- endif -%}
		   {%- when 'category' -%}
		      <aside id="shopify_product_categories-{{block.id}}" class="widget shopify widget_product_categories">
		      	<h4 class="widget-title">{{ block.settings.title }}</h4>
		      	<ul class="product-categories">
			   	{%- case block.settings.top_categories_source -%}
			   	   {%- when 'top_categories_show_all' -%}
			   	      {%- if collections.size > 0 -%}
				   	      {%- for category in collections -%}
				   	         {%- if category.products.size > 0 -%}
					               <li class="cat-item{%- if collection.handle == category.handle %} current-cat{%- endif -%}"><a href="{{ category.url }}">{{category.title}}</a></li>
					            {%- endif -%}
				            {%- endfor -%}
			            {%- endif -%}
			        {%- else -%}
			            {%- assign top_link_list = block.settings.top_categories_link_list -%}
			            {%- for link in linklists[top_link_list].links -%}
			               {%- if link.type == 'collection_link' or link.type == 'catalog_link' -%}
			                  {%- assign child_list_handle = link.title | handleize -%}
			                  {%- if linklists[child_list_handle].links != blank -%}
		                       <li class="pr cat-item cat-parent{%- if link.active %} current-cat{%- endif -%}">
		                       	  <a href="{{ link.url }}">{{link.title}}</a>
		                       	  <ul class="sub-menu children">
		                       	  	   {%- for child_link in linklists[child_list_handle].links -%}
		                       	  	      {%- if child_link.type == 'collection_link' or child_link.type == 'catalog_link' -%}
		                       	  	      <li class="cat-item{%- if child_link.active %} current-cat{%- endif -%}">
		                       	  	      	<a href="{{ child_link.url }}">{{child_link.title}}</a>
		                       	  	      </li>
		                       	  	      {%- endif -%}
		                       	  	   {%- endfor -%}
		                       	  </ul>
		                       	</li>
		                     {%- elsif link.links != blank -%}
		                          <li class="pr menu_nested cat-item{%- if link.active %} current-cat{%- endif -%}">
			                       	  <a href="{{ link.url }}">{{link.title}}</a>
			                       	  <ul class="sub-menu">
			                       	  	   {%- for child_link in link.links -%}
			                       	  	      {%- if child_link.type == 'collection_link' or child_link.type == 'catalog_link' -%}
			                       	  	      <li class="cat-item{%- if child_link.active %} current-cat{%- endif -%}">
			                       	  	      	<a href="{{ child_link.url }}">{{child_link.title}}</a>
			                       	  	      </li>
			                       	  	      {%- endif -%}
			                       	  	   {%- endfor -%}
			                       	  </ul>
			                       	</li>
		                     {%- else -%}
		                       <li class="cat-item{%- if link.active %} current-cat{%- endif -%}"><a href="{{ link.url }}">{{link.title}}</a></li>
		                     {%- endif -%}
			               {%- endif -%}
			            {%- endfor -%}
			      {%- endcase -%}
			   </ul>
		      </aside>
		   {%- when 'collection' -%}
			  <aside class="widget widget_products clearfix">
			      <h4 class="widget-title">{{ block.settings.title }}</h4>
			      {%- if block.settings.featured_product_list_collection == blank -%}
			         <p class="mg__0 mb__30">{{ 'homepage.onboarding.no_content' | t }}</p>
			      {%- else -%}
			      <ul class="product_list_widget">
			      {%- for product in collections[block.settings.featured_product_list_collection].products limit:block.settings.featured_product_limit_all -%}
			         {%- include 'product_group_loop' -%}
			      {%- endfor -%}
			      </ul>
			      {%- endif -%}
			  </aside>
			  {%- when 'recently' -%}
			   <aside id="recently-viewed-products" class="widget widget_recently_viewed_products clearfix" style="display:none">
			     <h4 class="widget-title">{{ block.settings.title }}</h4>
			     <ul id="recently_wrap" class="product_list_widget jas_recently_wrap"></ul>
			   </aside>
		   {%- when 'instagram' -%}
		      <aside id="jas_dc_instagram-3" class="widget widget_jas_dc_instagram jas_instagram_section" data-username='{{block.settings.username | default:'no_user_name_xxx'}}' data-limit='{{block.settings.limit }}' data-target='{{block.settings.open_link}}'>
				     <h4 class="widget-title">{{ block.settings.title }}</h4>
				     <div class="jas-instagram jas-instagram-pics clearfix columns-{{block.settings.columns}}"></div>
				</aside>
		   {%- when 'shipping' -%}
		      <aside id="jas_widget-{{block.id}}" class="widget widget_shipping">
				     <h4 class="widget-title">{{ block.settings.title }}</h4>
				     {%- for i in (1..6) -%}
                        {%- assign shipping = 'shipping_' | append:i -%}
                        {%- assign shipping_id = block.settings[shipping] -%}
                        {%- if shipping_id != blank -%}
                           {%- assign shipping = shipping_id | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}
                              <div class="jas-service tl clearfix mt__30">
                              	{%- if shipping[0] != blank -%}<div class="icon medium cp"><i class="{%- if shipping[0] contains 'pe-' -%}{{shipping[0]}}{%- else -%}fa fa-{{shipping[0]}}{%- endif -%}">&nbsp;</i></div>{%- endif -%}
                                 <div class="content">
	                              	<h3 class="title cp tu fs__14 mg__0 mb__5">{{shipping[1]}}</h3>
	                                 <p class="mg__0">{{shipping[2]}}</p>
                                 </div>
                              </div>
                        {%- endif -%}
                     {%- endfor -%}
				</aside>
		   {%- when 'html' -%}
		      <aside id="jas_widget-{{block.id}}" class="widget">
				     <h4 class="widget-title">{{ block.settings.title }}</h4>
				     {%- if block.settings.code != blank -%}{{block.settings.code}}{%- endif -%}
				</aside>
		   {%- when 'text' -%}
		      <aside id="jas_widget-{{block.id}}" class="widget">
				     <h4 class="widget-title">{{ block.settings.title }}</h4>
				     {%- if block.settings.text != blank -%}{{block.settings.text}}{%- endif -%}
				</aside>
	   {%- endcase -%}
	{%- endfor -%}
   {%- if current_tags.size > 1 -%}
   <aside id="yith-woo-ajax-reset-navigation-2" class="widget yith-shopify-ajax-product-filter yith-woo-ajax-reset-navigation yith-woo-ajax-navigation shopify widget_layered_nav">
	   <div class="yith-wcan jas_ajaxFilter"><a class="yith-wcan-reset-navigation button" href="/collections/{{collection.handle}}">{{ 'collections.filters.all_reset' | t }}</a></div>
	</aside>
   {%- endif -%}
</div>
{%- schema -%}
  {
    "name": "Collections Sidebar",
    "class": "jas_ajaxarea clearfix",
    "max_blocks": 15,
    "blocks": [
      {
        "type": "category",
        "name": "Categories",
        "limit": 1,
        "settings": [
         { 
          "type":"text",
          "id":"title",
          "label":"Categories",
          "default":"Product Categories"
          },
          {
           "type": "radio",
           "id": "top_categories_source",
           "label": "Show all \/ Show a link list",
           "options": [
             {
               "value": "top_categories_show_all",
               "label": "Show all"
             },
             {
               "value": "top_categories_link_list",
               "label": "Show a link list"
             }
           ]
         },
          {
           "type": "link_list",
           "id": "top_categories_link_list",
           "label": "Choose a link list"
         }
        ]
      },
      {
        "type": "collection",
        "name": "Featured Products",
        "settings": [
         {
          "type":"text",
          "id":"title",
          "label":"Title",
          "default":"Sale Products"
          },
          {
           "type": "collection",
           "id": "featured_product_list_collection",
           "label": "Collection to use"
         },
          {
           "type": "text",
           "id": "featured_product_limit_all",
           "label": "Number of products to show",
           "default": "3"
         }
        ]
      },
      {
        "type": "recently",
        "name": "Recently Viewed Products",
        "limit": 1,
        "settings": [
          {
          "type":"text",
          "id":"title",
          "label":"Title",
          "default":"Recently Viewed Products"
          }
        ]
      },
      {
        "type": "instagram",
        "name": "Instagram feed",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Instagram"
          },
          {
	        "type": "range",
	        "id": "columns",
	        "min": 2,
	        "max": 10,
	        "step": 1,
	        "label": "columns",
	        "default": 3
	      },
         {
	        "type": "text",
	        "id": "username",
	        "label": "Username Instagram",
	        "default": "jsfashionstock",
	         "info":"Ex: https://www.instagram.com/asos/, please enter:asos"
	      },
	      {
	        "type": "range",
	        "id": "limit",
	        "min": 1,
	        "max": 12,
	        "step": 1,
	        "unit": "img",
	        "label": "Number of photos",
	        "default": 12
	      },
	      {
	        "type": "select",
	        "id": "open_link",
	        "options": [
	          {
	            "value": "_self",
	            "label": "Current window (_self)"
	          },
	         {
	            "value": "_blank",
	            "label": "New window (_blank)"
	          }
	        ],
	        "label": "Open link in",
	        "default": "_self"
	      }
        ]
      },
      {
        "type": "shipping",
        "name": "SHIPPING DELIVERY",
        "limit": 1,
        "settings": [
         {
          "type":"text",
          "id":"title",
          "label":"Title",
          "default":"SHIPPING & DELIVERY"
         },
         {
           "type": "select",
           "id": "style",
           "label": "Style",
           "default": "2",
           "options": [
             {
               "value": "1",
               "label": "Style 1"
             },
             {
               "value": "2",
               "label": "Style 2"
             }
           ]
         },
         {
           "type": "paragraph",
           "content": "Example: clock-o,Save up to 20%,limited time [Get icons fa your](http:\/\/fontawesome.io\/icons\/)"
         },
         {
           "type": "paragraph",
           "content": "Example: pe-7s-car,Save up to 20%,limited time [Get icons pe your](http:\/\/themes-pixeden.com\/font-demos\/7-stroke/)"
         },
         {
           "type": "textarea",
           "id": "shipping_1",
           "label":"Shipping Block 1"
         },
         {
           "type": "textarea",
           "id": "shipping_2",
           "label":"Shipping Block 2"
         },
         {
           "type": "textarea",
           "id": "shipping_3",
           "label":"Shipping Block 3"
         },
         {
           "type": "textarea",
           "id": "shipping_4",
           "label":"Shipping Block 4"
         },
         {
           "type": "textarea",
           "id": "shipping_5",
           "label":"Shipping Block 5"
         },
         {
           "type": "textarea",
           "id": "shipping_6",
           "label":"Shipping Block 6"
         }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
         {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Custom HTML"
          },
          {
            "type": "html",
            "id": "code",
            "label": "HTML"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
            },
            {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
            }
         ]
      },
      {
        "type": "brand",
        "name": "By Brand",
        "limit": 1,
        "settings": [
          {
	        "type": "checkbox",
	        "id": "hidden_block",
	        "label": "Hidden block?",
	        "info": "if checked block will be set to hidden.",
	        "default": false
	      },
          { 
          "type":"text",
          "id":"title",
          "label":"Filter by categories title",
          "default":"By Brand"
          },
          {
           "type": "textarea",
           "id": "arra_enter",
           "label": "Shop by tags list",
           "info": "Separate by a comma, i.e \"Tag1, Tag2, Tag3\"."
         },
         {
          "type": "checkbox",
          "id": "use_auto_filter_tag",
          "label": "Use auto filter groups?",
          "default": false
         },
         { 
          "type":"text",
          "id":"key",
          "label":"Filter key word",
          "placeholder": "Vendor",
          "default":"Vendor"
          },
         {
          "type": "paragraph",
          "content": "Create tag filter groups in Shopify. This snippet is designed to group and separate out collection tags. Use admin extensions"
          }
        ]
      },
      {
        "type": "color",
        "name": "By Color",
        "limit": 1,
        "settings": [
          {
	        "type": "checkbox",
	        "id": "hidden_block",
	        "label": "Hidden block?",
	        "info": "if checked block will be set to hidden.",
	        "default": false
	      },
          { 
          "type":"text",
          "id":"title",
          "label":"Filter by categories title",
          "default":"By Color"
          },
          {
           "type": "textarea",
           "id": "arra_enter",
           "label": "Shop by tags list",
           "default":"Red,White,Brown,Blue, Black, Green, Grey, Sliver,Pink",
           "info": "Separate by a comma, i.e \"Tag1, Tag2, Tag3\"."
         },
         {
          "type": "checkbox",
          "id": "use_auto_filter_tag",
          "label": "Use auto filter groups?",
          "default": false
         },
         { 
          "type":"text",
          "id":"key",
          "label":"Filter key word",
          "placeholder": "Color",
          "default":"Color"
          },
         {
          "type": "paragraph",
          "content": "Create tag filter groups in Shopify. This snippet is designed to group and separate out collection tags. Use admin extensions"
          }
        ]
      },
      {
        "type": "size",
        "name": "By Size",
        "limit": 1,
        "settings": [
          {
	        "type": "checkbox",
	        "id": "hidden_block",
	        "label": "Hidden block?",
	        "info": "if checked block will be set to hidden.",
	        "default": false
	      },
          { 
          "type":"text",
          "id":"title",
          "label":"Filter by categories title",
          "default":"By Size"
          },
          {
	        "type": "select",
	        "id": "style",
	        "options": [
	          {
	            "value": "1",
	            "label": "Style 1"
	          },
	          {
	            "value": "2",
	            "label": "Style 2"
	          }
	        ],
	        "label": "Style: ",
	        "default": "1"
	      },
          {
           "type": "textarea",
           "id": "arra_enter",
           "label": "Shop by tags list",
           "default":"L,M,S,XL,XS",
           "info": "Separate by a comma, i.e \"Tag1, Tag2, Tag3\"."
         },
         {
          "type": "checkbox",
          "id": "use_auto_filter_tag",
          "label": "Use auto filter groups?",
          "default": false
         },
         { 
          "type":"text",
          "id":"key",
          "label":"Filter key word",
          "placeholder": "Size",
          "default":"Size"
          },
          { 
          "type":"text",
          "id":"key_2",
          "label":"Filter key word 2",
          "placeholder": "Sizes"
          },
         {
          "type": "paragraph",
          "content": "Create tag filter groups in Shopify. This snippet is designed to group and separate out collection tags. Use admin extensions"
          }
        ]
      },
      {
        "type": "tag",
        "name": "By Tag",
        "limit": 1,
        "settings": [
          {
	        "type": "checkbox",
	        "id": "hidden_block",
	        "label": "Hidden block?",
	        "info": "if checked block will be set to hidden.",
	        "default": false
	      },
          { 
          "type":"text",
          "id":"title",
          "label":"Filter by categories title",
          "default":"By Tag"
          },
          {
           "type": "textarea",
           "id": "arra_enter",
           "label": "Shop by tags list",
           "info": "Separate by a comma, i.e \"Tag1, Tag2, Tag3\"."
         },
         {
          "type": "checkbox",
          "id": "use_auto_filter_tag",
          "label": "Use auto filter groups?",
          "default": false
         },
         { 
          "type":"text",
          "id":"key",
          "label":"Filter key word",
          "placeholder": "Tag",
          "default":"Tag"
          },
          { 
          "type":"text",
          "id":"key_2",
          "label":"Filter key word 2",
          "placeholder": "Tags"
          },
         {
          "type": "paragraph",
          "content": "Create tag filter groups in Shopify. This snippet is designed to group and separate out collection tags. Use admin extensions"
          }
        ]
      },
      {
        "type": "price",
        "name": "By Price",
        "limit": 1,
        "settings": [
          {
	        "type": "checkbox",
	        "id": "hidden_block",
	        "label": "Hidden block?",
	        "info": "if checked block will be set to hidden.",
	        "default": false
	      },
          { 
          "type":"text",
          "id":"title",
          "label":"Filter by categories title",
          "default":"By Price"
          },
           {
              "type": "textarea",
              "id": "arra_enter",
              "label": "Shop by tags list",
              "info": "Separate by a comma, i.e \"Tag1, Tag2, Tag3\"."
            },
          {
          "type": "checkbox",
          "id": "use_auto_filter_tag",
          "label": "Use auto filter groups?",
          "default": false
         },
         { 
          "type":"text",
          "id":"key",
          "label":"Filter key word",
          "placeholder": "Price",
          "default":"Price"
          },
         {
          "type": "paragraph",
          "content": "Create tag filter groups in Shopify. This snippet is designed to group and separate out collection tags. Use admin extensions"
          }
        ]
      },
      {
        "type": "other",
        "name": "By Other",
        "limit": 1,
        "settings": [
          {
	        "type": "checkbox",
	        "id": "hidden_block",
	        "label": "Hidden block?",
	        "info": "if checked block will be set to hidden.",
	        "default": false
	      },
          { 
          "type":"text",
          "id":"title",
          "label":"Filter by categories title",
          "default":"By Other"
          },
           {
              "type": "textarea",
              "id": "arra_enter",
              "label": "Shop by tags list",
              "info": "Separate by a comma, i.e \"Tag1, Tag2, Tag3\"."
            },
          {
          "type": "checkbox",
          "id": "use_auto_filter_tag",
          "label": "Use auto filter groups?",
          "default": false
         },
         { 
          "type":"text",
          "id":"key",
          "label":"Filter key word",
          "placeholder": "Other",
          "default":"Other"
          },
         {
          "type": "paragraph",
          "content": "Create tag filter groups in Shopify. This snippet is designed to group and separate out collection tags. Use admin extensions"
          }
        ]
      },
      {
        "type": "other2",
        "name": "By Other 2",
        "limit": 1,
        "settings": [
          {
	        "type": "checkbox",
	        "id": "hidden_block",
	        "label": "Hidden block?",
	        "info": "if checked block will be set to hidden.",
	        "default": false
	      },
          { 
          "type":"text",
          "id":"title",
          "label":"Filter by categories title",
          "default":"By Other 2"
          },
           {
              "type": "textarea",
              "id": "arra_enter",
              "label": "Shop by tags list",
              "info": "Separate by a comma, i.e \"Tag1, Tag2, Tag3\"."
            },
          {
          "type": "checkbox",
          "id": "use_auto_filter_tag",
          "label": "Use auto filter groups?",
          "default": false
         },
         { 
          "type":"text",
          "id":"key",
          "label":"Filter key word",
          "placeholder": "Other",
          "default":"Other"
          },
         {
          "type": "paragraph",
          "content": "Create tag filter groups in Shopify. This snippet is designed to group and separate out collection tags. Use admin extensions"
          }
        ]
      },
      {
        "type": "other3",
        "name": "By Other 3",
        "limit": 1,
        "settings": [
          {
	        "type": "checkbox",
	        "id": "hidden_block",
	        "label": "Hidden block?",
	        "info": "if checked block will be set to hidden.",
	        "default": false
	      },
          { 
          "type":"text",
          "id":"title",
          "label":"Filter by categories title",
          "default":"By Other 3"
          },
           {
              "type": "textarea",
              "id": "arra_enter",
              "label": "Shop by tags list",
              "info": "Separate by a comma, i.e \"Tag1, Tag2, Tag3\"."
            },
          {
          "type": "checkbox",
          "id": "use_auto_filter_tag",
          "label": "Use auto filter groups?",
          "default": false
         },
         { 
          "type":"text",
          "id":"key",
          "label":"Filter key word",
          "placeholder": "Other",
          "default":"Other"
          },
         {
          "type": "paragraph",
          "content": "Create tag filter groups in Shopify. This snippet is designed to group and separate out collection tags. Use admin extensions"
          }
        ]
      }
    ]
  }
{% endschema %}