{%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
{%- assign paginate_index = section.settings.paginate_index | plus: 0 -%}
{%- assign show_vendor = section.settings.show_vendor -%}
{%- assign pr_style = section.settings.style -%}
{%- assign settings_pr_img_size = section.settings.use_eq_height -%}
{%- assign section_settings_countdown = section.settings.sale_countdown -%}
{%- assign countdown_timer_style = section.settings.countdown_style -%}
{%- assign use_pagination = section.settings.use_pagination -%}
{%- assign collection = collections[section.settings.collection] -%}
{%- assign grid_columns = section.settings.grid_column -%}
{%- assign grid_columns_mb = section.settings.grid_columns_mb -%}
{%- assign current_page = '1' -%}
{%- assign sett_title = section.settings.title -%}
{%- paginate collection.products by paginate_index -%}
<h3 class="jas_title_1 pr">Code:<span class="sub-title db"></span></h3>
<code>
  <!-- Shortcode product --> 
[product title="{{sett_title}}" limit="{{paginate_index}}" cols="{{grid_columns}}" cols_mb="{{grid_columns_mb}}" layout="layout1" handle_collection="{{section.settings.collection}}" style="{{pr_style}}" vendors="{{show_vendor}}" countdown="{{section_settings_countdown}}" countdown_style="{{countdown_timer_style}}" equal="{{settings_pr_img_size}}" size="{{section.settings.image_size}}" ] 
 <!-- / Shortcode product -->
</code>
 <h3 class="jas_title_1 pr">Demo:<span class="sub-title db"></span></h3>
<div class="jas_custom_{{section.id}} {{pr_style}}">
  <div class="mt__30 jas_separator jas_separator_align_center jas_sep_width_100 jas_sep_double jas_sep_pos_align_center jas_sep_color_grey jas_custom_1479922305779 jas_separator-has-text">
     <span class="jas_sep_holder jas_sep_holder_l"><span class="jas_sep_line"></span></span>
     <h4>{{ sett_title }}</h4>
     <span class="jas_sep_holder jas_sep_holder_r"><span class="jas_sep_line"></span></span>
  </div>
  <div class="products mb__30 jas-row jas-products-holder {{section.settings.image_size}}{%- if settings_pr_img_size %} jas_section_eqh{%- endif -%}">
      {%- for product in collection.products -%}
         {%- include 'jas_product_loop' -%}
      {%- else -%}
         {%- for i in (1..8) -%}
            <div class="jas-grid-item jas-col-md-{{grid_columns}} jas-col-sm-4 jas-col-xs-{{grid_columns_mb}} mt__30 product has-post-thumbnail">
               <div class="jas-product-image jas-product-image-equal pr oh">
                  <a href="/admin/products" class="jas-product-img-element jas-pr-image-link">
                     {%- capture current -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
                     {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </a>
               </div>
               <div class="product-info mt__15">
                  <h3 class="product-title pr fs__14 mg__0 fwm"><a class="cd chp" href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></h3>
                  <span class="price"><ins>$30.00</ins> <del>$35.00</del></span>
               </div>
            </div>
         {%- endfor -%}
      {%- endfor -%}
  </div>
</div>
{%- endpaginate -%}
{%- schema -%}
  {
    "name": "Products Gird",
    "class": "jas-section type_jas_featured_collection jas-products-element",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "SHOP THE LOOK"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "select",
        "id": "style",
        "label": "Product Style",
        "default": "jas_default",
        "options": [
          {
            "value": "jas_default",
            "label": "style 1 (Default)"
          },
          {
            "value": "jas_pr_tc",
            "label": "style 2 (text center)"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid_column",
        "label": "Columns",
        "default": "3",
        "options": [
          {
            "value": "6",
            "label": "2"
          },
          {
            "value": "4",
            "label": "3"
          },
          {
            "value": "3",
            "label": "4"
          },
          {
            "value": "15",
            "label": "5"
          },
          {
            "value": "2",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid_columns_mb",
        "label": "Columns Mobile",
        "default": "6",
        "options": [
          {
            "value": "12",
            "label": "1"
          },
          {
            "value": "6",
            "label": "2"
          }
        ]
      },
      {
        "type": "text",
        "id": "paginate_index",
        "label": "Items per page ( integer )",
        "info": "Number of items to show per page.",
        "default": "8"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sale_countdown",
        "default": false,
        "label": "Use Sale countdown",
        "info": "Countdown to the end sale date will be shown. Be sure you have set final date of the product sale price. product.metafields.meta.countdown ( 2018/01/19 )"
      },
      {
        "type": "select",
        "id": "countdown_style",
        "label": "Countdown style",
        "default": "dark",
        "options": [
          {
            "value": "light",
            "label": "Countdown timer light"
          },
          {
            "value": "dark",
            "label": "Countdown timer dark"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Design Image"
      },
      {
        "type": "checkbox",
        "id": "use_eq_height",
        "label": "Use equal height images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "jas_cover",
        "options": [
          {
            "value": "jas_cover",
            "label": "Full"
          },
          {
            "value": "jas_contain",
            "label": "Auto"
          }
        ]
      }
    ]
  }
{% endschema %}
