{%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
{%- include 'style_mp_section' -%}
{%- assign paginate_index = section.settings.paginate_index | plus: 0 -%}
{%- assign show_vendor = section.settings.show_vendor -%}
{%- assign settings_pr_img_size = section.settings.use_eq_height -%}
{%- assign section_settings_countdown = section.settings.sale_countdown -%}
{%- assign countdown_timer_style = section.settings.countdown_style -%}
{%- assign collection = collections[section.settings.collection] -%}
{%- assign pr_style = section.settings.style -%}
{%- assign grid_columns = '12' -%}
{%- assign grid_columns_mb = '12' -%}
{%- assign current_page = '1' -%}
{%- assign sett_title = section.settings.title -%}
{%- paginate collection.products by paginate_index -%}
<h3 class="jas_title_1 pr">Code:<span class="sub-title db"></span></h3>
<code>
  <!-- Shortcode product --> 
[product title="{{sett_title}}" limit="{{paginate_index}}" cols="{{section.settings.sidetoshow}}" cols_mb="12" autoplay="{{ section.settings.use_autoplay }}" autoplaySpeed="{{ section.settings.slider_speed }}000" infinite="{{section.settings.use_loop}}" arrows="{{section.settings.use_arrows}}" dots="{{section.settings.use_dots}}" 1024="{{ section.settings.sidetoshow_first}}" 600="{{ section.settings.sidetoshow_center}}" 480="{{ section.settings.sidetoshow_last}}" layout="layout2" handle_collection="{{section.settings.collection}}" style="{{pr_style}}" vendors="{{show_vendor}}" countdown="{{section_settings_countdown}}" countdown_style="{{countdown_timer_style}}" equal="{{settings_pr_img_size}}" size="{{section.settings.image_size}}" ] 
 <!-- / Shortcode product -->
</code>
 <h3 class="jas_title_1 pr">Demo:<span class="sub-title db"></span></h3>
<div class="jas_custom_{{section.id}} {{pr_style}}">
  <div class="mt__30 jas_separator jas_separator_align_center jas_sep_width_100 jas_sep_double jas_sep_pos_align_center jas_sep_color_grey jas_custom_1479922305779 jas_separator-has-text">
     <span class="jas_sep_holder jas_sep_holder_l"><span class="jas_sep_line"></span></span>
     <h4>{{ sett_title }}</h4>
     <span class="jas_sep_holder jas_sep_holder_r"><span class="jas_sep_line"></span></span>
  </div>
  <div class="products jas-row jas-products-holder jas-carousel {{section.settings.image_size}}{%- if settings_pr_img_size %} jas_section_eqh{%- endif -%}" data-slick='{"slidesToShow": {{ section.settings.sidetoshow }},"slidesToScroll": 1, "autoplay": {{ section.settings.use_autoplay }}, "autoplaySpeed": {{ section.settings.slider_speed }}000,"rtl": {{ settings.use_rtl }}, "infinite": {{section.settings.use_loop}}, "arrows": {{section.settings.use_arrows}},"dots": {{section.settings.use_dots}}, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": {{ section.settings.sidetoshow_first}} }},{"breakpoint": 600,"settings":{"slidesToShow": {{ section.settings.sidetoshow_center}} }},{"breakpoint": 480,"settings":{"slidesToShow": {{ section.settings.sidetoshow_last}} }}]}'>
      {%- for product in collection.products -%}
         {%- include 'jas_product_loop' -%}
      {%- else -%}
         {%- for i in (1..8) -%}
            <div class="jas-grid-item jas-col-md-{{grid_columns}} jas-col-sm-4 jas-col-xs-{{grid_columns_mb}} mt__30 product has-post-thumbnail">
               <div class="jas-product-image jas-product-image-equal pr oh">
                  <a href="/admin/products" class="jas-product-img-element jas-pr-image-link">
                     {%- capture current -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
                     {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </a>
               </div>
               <div class="product-info mt__15">
                  <h3 class="product-title pr fs__14 mg__0 fwm"><a class="cd chp" href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></h3>
                  <span class="price"><ins>$30.00</ins> <del>$35.00</del></span>
               </div>
            </div>
         {%- endfor -%}
      {%- endfor -%}
  </div>
</div>
{%- endpaginate -%}
{%- schema -%}
  {
    "name": "Products Gird Carousel",
    "class": "jas-section type_jas_featured_collection_owl",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "SHOP THE LOOK"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "text",
        "id": "paginate_index",
        "label": "Items per page ( integer )",
        "info": "Number of items to show per page.",
        "default": "8"
      },
      {
        "type": "select",
        "id": "style",
        "label": "Product Style",
        "default": "jas_default",
        "options": [
          {
            "value": "jas_default",
            "label": "style 1 (Default)"
          },
          {
            "value": "jas_pr_tc",
            "label": "style 2 (text center)"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sale_countdown",
        "default": false,
        "label": "Use Sale countdown",
        "info": "Countdown to the end sale date will be shown. Be sure you have set final date of the product sale price. product.metafields.meta.countdown ( 2018/01/19 )"
      },
      {
        "type": "select",
        "id": "countdown_style",
        "label": "Countdown style",
        "default": "dark",
        "options": [
          {
            "value": "light",
            "label": "Countdown timer light"
          },
          {
            "value": "dark",
            "label": "Countdown timer dark"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Design Image"
      },
      {
        "type": "checkbox",
        "id": "use_eq_height",
        "label": "Use equal height images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "jas_cover",
        "options": [
          {
            "value": "jas_cover",
            "label": "Full"
          },
          {
            "value": "jas_contain",
            "label": "Auto"
          }
        ]
      },
      {
       "type": "header",
       "content": "== settings Slider ( Only for Carousel layout )"
      },
     {
        "type": "range",
        "id": "slider_speed",
        "min": 1,
        "max": 30,
        "step": 1,
        "label": "Autoplay Speed in milliseconds",
        "unit": "sec",
        "default": 6
      },
      {
        "type": "checkbox",
        "id": "use_autoplay",
        "label": "Use autoplay?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_arrows",
        "label": "Use Arrows?",
        "default": true
      },
{
        "type": "checkbox",
        "id": "use_dots",
        "default": false,
        "label": "Use pagination control?"
      },
      {
        "type": "checkbox",
        "id": "use_loop",
        "label": "Use Infinite loop sliding?",
        "default": false
      },
      {
        "type": "range",
        "id": "sidetoshow",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "slides To Show",
        "default": 4
      },
      {
       "type": "header",
       "content": "=== breakpoint: 1024"
      },
      {
        "type": "range",
        "id": "sidetoshow_first",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "slides To Show",
        "default": 3
      },
      {
       "type": "header",
       "content": "=== breakpoint: 600"
      },
      {
        "type": "range",
        "id": "sidetoshow_center",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "slides To Show",
        "default": 2
      },
      {
       "type": "header",
       "content": "=== breakpoint: 480"
      },
      {
        "type": "range",
        "id": "sidetoshow_last",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "slides To Show",
        "default": 2
      }
    ]
  }
{% endschema %}
