{%- if section.settings.hidden_section -%}<style> #shopify-section-{{ section.id }} { display: none !important}</style>{%- endif -%}
{%- assign grid_item_width = 'jas-col-sm-6' -%}
{%- case section.blocks.size -%}
{% when 1 %}
{%- assign grid_item_width = 'jas-col-sm-12' -%}
{% when 3 %}
{%- assign grid_item_width = 'jas-col-sm-4' -%}
{%- endcase -%}
{% for block in section.blocks %}
<div class="{{ grid_item_width }} mb__35 jas-col-xs-12">
	<h3 class="tu fs__20">{{ block.settings.title }}</h3>
	{{ block.settings.text }}
</div>
{% endfor %}
{%- if section.settings.padding != blank or section.settings.margin != blank -%}
{% assign margin = section.settings.margin | remove: ' ' | split: '-' | join: ' ' %}
{% assign padding = section.settings.padding | remove: ' ' | split: '-' | join: ' ' %}
<style>
  #shopify-section-{{ section.id }} { 
    {%- if section.settings.margin != blank -%} margin: {{margin}};{%- endif -%}
    {%- if section.settings.padding != blank -%}padding: {{padding}}{%- endif -%}
   }
</style>
{%- endif -%}

{% schema %}
{
  "name": "Text columns",
  "class": "jas-row t_text_columns",
  "settings": [
    {
        "type": "header",
        "content": "== Design settings"
      },
      {
        "type": "paragraph",
        "content": "To horizontally center a block element (like <div>), use margin: auto;"
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Margins ( top-right-bottom-left )",
        "info": "60px-auto-60px-auto"
      },
      {
        "type": "text",
        "id": "padding",
        "label": "Paddings Integer px ( top-right-bottom-left )",
        "info": "60px-60px-0-60px"
      },
      {
        "type": "header",
        "content": "== Gecko Extras"
      },
      {
        "type": "checkbox",
        "id": "hidden_section",
        "label": "Disable Section?",
        "info": "If checked the section won't be visible on the public side of your website. You can switch it back any time.",
        "default": false
      }
    ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, <em>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</em> vitae dicta sunt explicabo nemo enim ipsam.</p>"
        }
      ]
    }
  ]
}
{% endschema %}
