{%- layout none -%}
{%- capture min_html -%}
  <div class="cart_total_price hide">{{cart.total_price | money }}</div>
  <div class="cart_threshold hide">{%- if settings.use_threshold -%}{%- include 'shipping-threshold' -%}{%- endif -%}</div>
  {%- if cart.item_count > 0 -%}
    {%- for item in cart.items -%}
      <div id="{{item.id}}" class="cart__popup-item flex middle-xs">
        <div class="cart__popup-thumb">
          <img width="80" height="102" src="{{ item.image | img_url: '100x' }}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="{{ item.image.alt | escape }}">
        </div>
        <div class="cart__popup-title grow"><a href="{{ item.url | within: item.product.collections.last }}">{{item.title}}</a></div>
        <div class="cart__popup-price"><span class="shopify-Price-amount amount">{{ item.price | money }}</span></div>
        <div class="cart__popup-quantity">
          <div class="quantity pr flex">
            <a class="cart__popup-qty cart__popup-qty--minus tc" href="javascript:void(0);">-</a>
            <input type="number" data-id ="{{item.id}}" class="cart__popup-qty--input tc" max="{%- if item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' -%}999{%- else -%}{{ item.variant.inventory_quantity }}{%- endif -%}" min="0" step="1" name="updates[]" value="{{ item.quantity }}" id="updates_{{ item.key }}" >
            <a class="xcp-plus cart__popup-qty cart__popup-qty--plus tc" href="javascript:void(0);">+</a>
          </div>
        </div>
        <div class="cart__popup-total fwsb cb"><span class="shopify-Price-amount amount" data-price='{{ item.price }}'>{{ item.line_price | money }}</span></div>
        <div class="cart__popup-remove"><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" aria-label="Remove this item" data-product_id="{{ item.id }}" data-product_sku="{{ item.sku }}"><i class="fa fa-trash"></i></a></div>
      </div>
      <div id="undo-{{item.id}}" class="cart__popup-empty center-xs mt__15 mb__15 hide">
        <a href="{{ item.url | within: item.product.collections.last }}"><img width="80" height="76" class="attachment-shop_thumbnail img_hide" alt="{{ item.image.alt | escape }}" src="{{ item.image | img_url: '50x' }}">{{item.title}}</a> {{ 'cart.cart_popup.remove' | t }} 
        <a href="{{ item.url | within: item.product.collections.last }}" class="cart__popup-undo fwb cb" data-id ="{{item.id}}">{{ 'cart.cart_popup.undo' | t }}</a>
      </div>
    {%- endfor -%}
  {%- else -%}
    <p class="cart-empty">{{ 'cart.general.empty' | t }}</p>
  {%- endif -%}
{%- endcapture -%}
{{min_html | strip_newlines | remove: "  " }}