{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
{%- assign limit = settings.products_per_page | plus:0 -%}
{%- assign grid_columns = settings.grid_column -%}
{%- assign grid_columns_mb = '6' -%}
{%- assign settings_pr_img_size = settings.use_eq_height -%}
{%- assign show_vendor = settings.show_vendor -%}
{%- assign pr_style = settings.style -%}
{%- assign shop_sidebar = settings.shop_sidebar -%}
{%- assign coll_style = settings.collection_style -%}
{%- assign use_pagination = settings.use_pagination -%}
{%- assign section_settings_countdown = settings.sale_countdown -%}
{%- assign countdown_timer_style = settings.collection_countdown_style -%}
{%- assign array_metro = ',2,10,18,26,32,40,48,56,64,72,80,' -%}
{%- assign no_sidebar = true -%}
{%- assign class_gl = '12' -%}
{%- if shop_sidebar == 'left' -%}
   {%- assign no_sidebar = false -%}
   {%- case settings.shop_size_sidebar -%}
     {% when '1' %}
       {%- assign class_gl = '10 last-md ' -%}
       {%- assign class_sidebar = '2 first-md ' -%}
     {% when '2' %}
       {%- assign class_gl = '9 last-md ' -%}
       {%- assign class_sidebar = '3 first-md ' -%}
     {% when '3' %}
       {%- assign class_gl = '8 last-md ' -%}
       {%- assign class_sidebar = '4 first-md ' -%}
   {%- endcase -%}
{%- elsif shop_sidebar == 'right' -%}
   {%- assign no_sidebar = false -%}
   {%- case settings.shop_size_sidebar -%}
     {% when '1' %}
       {%- assign class_gl = '10' -%}
       {%- assign class_sidebar = '2' -%}
     {% when '2' %}
       {%- assign class_gl = '9' -%}
       {%- assign class_sidebar = '3' -%}
     {% when '3' %}
       {%- assign class_gl = '8' -%}
       {%- assign class_sidebar = '4' -%}
   {%- endcase -%}
{%- endif -%}
{%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
<div class="jas-wc dib w__100 mb__60" role="main">
	<div class="{%- if collection.metafields.meta.countdown != blank -%}jas_count_page oh{%- endif %} page-head pr tc{%- if collection.image or settings.collection_bg_image != blank %} lazyload{%- endif -%}"{%- if settings.use_specify_image and collection.image %} data-bgset="{%- include 'bgset', image: collection.image -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url({{ collection.image | img_url: '50x50' }})"{%- elsif settings.collection_bg_image != blank %} data-bgset="{%- include 'bgset', image: settings.collection_bg_image -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url({{ settings.collection_bg_image | img_url: '50x50' }});"{%- endif -%}>
	   {%- if collection.image or settings.collection_bg_image != blank %}<div class="jas-wrap-lazy"></div>{%- endif -%}
	   <div class="jas-container pr">
	   	{%- if collection.metafields.meta.countdown != blank  -%}
               {%- include 'collection-countdown' -%}
		   {%- else -%}
            <h1 class="tu mb__10 cw">{{ collection.title }}</h1>
		      <p>{{ collection.description | strip_html}}</p>
		      {%- if settings.use_top_breadcrumb -%}
		        <ul class="jas-breadcrumb dib oh">
					   <li class="fl home"><a href="/" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a></li>
					   <li class="fl separator"> <i class="fa fa-angle-right"></i> </li>
					   <li class="fl current"> {{collection.title }}</li>
					</ul>
				{%- endif -%}
		   {%- endif -%}
	   </div>
	</div>
	<div class="jas-container">
		{%- paginate collection.products by limit -%}
		<div class="jas-filter-wrap pr">
			{%- if settings.shop_filters and settings.pop_style == 'jas_pop_sidebar' -%}
			<div class="filter-sidebar shopify shopify-page pf left">
			   <h3 class="mg__0 tc cw bgb tu ls__2 visible-sm">{{ 'collections.filters.filters_title' | t }}<i class="close-filter pe-7s-close pa"></i></h3>
			   {%- section 'jas_filter' -%}
			</div>
			{%- endif -%}
			<div class="result-count-order">
			   <div class="flex between-xs middle-xs">
			   	{%- if settings.shop_show_per_page or settings.shop_filters -%}
			      <p class="shopify-result-count">
			         {%- if settings.shop_filters -%}<span class="dib"><a href="javascript:void(0);" id="jas-filter" class="{{settings.pop_style}}"><i class="fa fa-sliders pr"></i> <span>{{ 'collections.filters.filters_title' | t }}</span></a></span>{%- endif %}{%- if settings.shop_show_per_page -%} <span class="sp_result_html">{%- assign current_offset = paginate.current_offset | plus:1 -%}{%- assign current_product_size = collection.products.size | plus:paginate.current_offset -%}{%- if current_tags == blank -%}{%- if limit > paginate.items -%}{{ 'collections.general.results_limit' | t: count: paginate.items }}{%- else -%}{{ 'collections.general.results_with_count' | t:count:current_offset,curent_count:current_product_size,pr_count:collection.all_products_count }}{%- endif -%}{%- elsif limit > paginate.items -%}{{ 'collections.general.results_limit' | t: count: paginate.items }}{%- else -%}{%- assign current_offset = paginate.current_offset | plus:1 -%}{%- assign current_product_size = collection.products.size | plus:paginate.current_offset -%}{{ 'collections.general.results_with_count' | t:count:current_offset,curent_count:current_product_size,pr_count:paginate.items }}{%- endif -%}</span>{%- endif %}
			      </p>
			      {%- endif -%}
			      {%- if settings.show_column_switch -%}
			      <span>
			         <div class="sp-col-switch flex">
			            <a href="javascript:void(0);" class="pr one hide-md hidden-sm visible-xs mr__10" data-col="12"></a>
			            <a href="javascript:void(0);" class="pr two mr__10{%- if grid_columns == '6' %} active{%- endif -%}" data-col="6"></a>
			            <a href="javascript:void(0);" class="pr hidden-xs three mr__10{%- if grid_columns == '4' %} active{%- endif -%}" data-col="4"></a>
			            <a href="javascript:void(0);" class="pr hidden-sm four mr__10{%- if grid_columns == '3' %} active{%- elsif no_sidebar == false and grid_columns != '3' and grid_columns != '6' and grid_columns != '4' %} active{%- endif -%}" data-col="3"></a>
			            {%- if no_sidebar -%}<a href="javascript:void(0);" class="pr hidden-sm five mr__10{%- if grid_columns == '15' %} active{%- endif -%}" data-col="15"></a>{%- endif -%}
			            {%- if no_sidebar -%}<a href="javascript:void(0);" class="pr hidden-sm six{%- if grid_columns == '2' %} active{%- endif -%}" data-col="2"></a>{%- endif -%}
			         </div>
			      </span>
			      {%- endif -%}
			      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
			      {%- assign sort_by_handle = sort_by | handleize | prepend: '=' -%}
			      {%- assign check_sort = false -%}
			      {%- if sort_by == collection.default_sort_by -%}
			           {%- assign check_sort = true -%}
			      {%- endif -%}
			      {%- assign sort_symboy = '?&'-%}
               {%- if collection.current_vendor %}{%- assign sort_symboy = '&'-%}{%- endif -%}
			      	{%- if paginate.pages > 1 -%}
			      	   {%- assign page_index = current_page | prepend: 'page=' -%}
			      	   {%- assign _tprev_index = current_page | minus:1 -%}
			      	   {%- assign _tnext_index = current_page | plus:1 -%}
			      	   {%- assign prev_index = _tprev_index | prepend: 'page=' -%}
			      	   {%- assign next_index = _tnext_index | prepend: 'page=' -%}
				      	{%- if paginate.previous -%}
				      	   {%- assign sort_url = paginate.previous.url | replace: prev_index, page_index -%}
				      	{%- elsif paginate.next -%}
				      	   {%- assign sort_url = paginate.next.url | replace: next_index, page_index -%}
				      	{%- endif -%}
				      	<div class="shopify-ordering">
					      	<select name="sort_by" id="sort_by" class="collection-sort__input orderby">
		                      <option data-value="{{sort_url | replace: sort_by_handle, '=manual' }}{%- if check_sort -%}{{sort_symboy}}sort_by=manual{%- endif -%}" value="manual"{%- if sort_by == "manual" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.featured' | t }}</option>
		                      <option data-value="{{sort_url | replace: sort_by_handle, '=best-selling' }}{%- if check_sort -%}{{sort_symboy}}sort_by=best-selling{%- endif -%}" value="best-selling"{%- if sort_by == "best-selling" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.best_selling' | t }}</option>
		                      <option data-value="{{sort_url | replace: sort_by_handle, '=title-ascending' }}{%- if check_sort -%}{{sort_symboy}}sort_by=title-ascending{%- endif -%}" value="title-ascending"{%- if sort_by == "title-ascending"  %}selected="selected"{%- endif -%}>{{ 'collections.sorting.az' | t }}</option>
		                      <option data-value="{{sort_url | replace: sort_by_handle, '=title-descending' }}{%- if check_sort -%}{{sort_symboy}}sort_by=title-descending{%- endif -%}" value="title-descending"{%- if sort_by == "title-descending" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.za' | t }}</option>
		                      <option data-value="{{sort_url | replace: sort_by_handle, '=price-ascending' }}{%- if check_sort -%}{{sort_symboy}}sort_by=price-ascending{%- endif -%}" value="price-ascending"{%- if sort_by == "price-ascending" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.price_ascending' | t }}</option>
		                      <option data-value="{{sort_url | replace: sort_by_handle, '=price-descending' }}{%- if check_sort -%}{{sort_symboy}}sort_by=price-descending{%- endif -%}" value="price-descending"{%- if sort_by == "price-descending" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.price_descending' | t }}</option>
		                      <option data-value="{{sort_url | replace: sort_by_handle, '=created-descending' }}{%- if check_sort -%}{{sort_symboy}}sort_by=price-descending{%- endif -%}" value="created-descending"{%- if sort_by == "created-descending" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.date_descending' | t }}</option>
		                      <option data-value="{{sort_url | replace: sort_by_handle, '=created-ascending' }}{%- if check_sort -%}{{sort_symboy}}sort_by=price-ascending{%- endif -%}" value="created-ascending"{%- if sort_by == "created-ascending" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.date_ascending' | t }}</option>
		                  </select>
					          <input id="DefaultSortBy" type="hidden" value="{{ collection.default_sort_by }}">
					      </div>
				      {%- else -%}
				         <div class="shopify-ordering">
					      	<select name="sort_by" id="sort_by" class="collection-sort__input orderby">
		                      <option data-value="{{canonical_url | replace: sort_by_handle, '=manual'}}{{sort_symboy}}sort_by=manual" value="manual"{%- if sort_by == "manual" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.featured' | t }}</option>
		                      <option data-value="{{canonical_url | replace: sort_by_handle, '=best-selling'}}{{sort_symboy}}sort_by=best-selling" value="best-selling"{%- if sort_by == "best-selling" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.best_selling' | t }}</option>
		                      <option data-value="{{canonical_url | replace: sort_by_handle, '=title-ascending'}}{{sort_symboy}}sort_by=title-ascending" value="title-ascending"{%- if sort_by == "title-ascending"  %}selected="selected"{%- endif -%}>{{ 'collections.sorting.az' | t }}</option>
		                      <option data-value="{{canonical_url | replace: sort_by_handle, '=title-descending'}}{{sort_symboy}}sort_by=title-descending" value="title-descending"{%- if sort_by == "title-descending" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.za' | t }}</option>
		                      <option data-value="{{canonical_url | replace: sort_by_handle, '=price-ascending'}}{{sort_symboy}}sort_by=price-ascending" value="price-ascending"{%- if sort_by == "price-ascending" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.price_ascending' | t }}</option>
		                      <option data-value="{{canonical_url | replace: sort_by_handle, '=price-descending'}}{{sort_symboy}}sort_by=price-descending" value="price-descending"{%- if sort_by == "price-descending" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.price_descending' | t }}</option>
		                      <option data-value="{{canonical_url | replace: sort_by_handle, '=created-descending'}}{{sort_symboy}}sort_by=created-descending" value="created-descending"{%- if sort_by == "created-descending" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.date_descending' | t }}</option>
		                      <option data-value="{{canonical_url | replace: sort_by_handle, '=created-ascending'}}{{sort_symboy}}sort_by=created-ascending" value="created-ascending"{%- if sort_by == "created-ascending" %} selected="selected"{%- endif -%}>{{ 'collections.sorting.date_ascending' | t }}</option>
		                  </select>
					          <input id="DefaultSortBy" type="hidden" value="{{ collection.default_sort_by }}">
					      </div>
			      	{%- endif -%}
			   </div>
			</div>
			{%- if settings.shop_filters and settings.pop_style == 'pop_default' -%}
			<div class="jas-top-sidebar shopify shopify-page">
				{%- section 'jas_filter' -%}
		   </div>
		   {%- endif -%}
		   {%- if current_tags.size > 0 -%}
            <div class="nav_filters mt__15">
               <ul>
                 {%- for tag in current_tags -%}
                    <li class="remove_tag">{{ tag | link_to_remove_tag: tag }}</li>
                 {%- endfor -%}
                  {%- if current_tags.size > 1 -%}<li class="remove_tag"><a aria-label="Remove filter All" href="/collections/{{collection.handle}}">{{ 'collections.filters.all_reset' | t }}</a></li>{%-endif-%}
               </ul>
            </div>
         {%- endif -%}
         <div class="dc-shop-loader"></div>
			<div class="jas-row">
				<div class="jas-col-md-{{class_gl}} jas-col-xs-12">
					<div class="yit-wcan-container">
						<div class="products jas-products-holder jas-row {{pr_style}} {{coll_style}} {{settings.image_size}} jas-masonry{{section.settings.image_size}}{%- if settings_pr_img_size %} jas_section_eqh{%- endif -%}" data-masonry='{"selector":".product","layoutMode":"{%- if coll_style == 'fitRows' -%}{{coll_style}}{%- else -%}masonry{%- endif -%}"{%- if coll_style == 'metro' -%},"columnWidth":".grid-sizer"{%- endif -%}}'>
						   {%- if coll_style == 'metro' -%}<div class="grid-sizer size-{{grid_columns}}"></div>{%- endif-%}
						   {%- for product in collection.products -%}
						      {%- if coll_style == 'metro' -%}
						          {%- assign index = forloop.index | append:',' | prepend:',' -%}
						          {%- if array_metro contains index -%}
				                  {%- assign grid_columns = '6 metro-item' -%}
				                  {%- assign settings_metro_img_size = true -%}
				               {%- else -%}
				                  {%- assign grid_columns = settings.grid_column -%}
				                  {%- assign settings_metro_img_size = false -%}
				               {%- endif -%}
						      {%- endif -%}
						      {%- include 'jas_product_loop' -%}
						   {%- endfor -%}
						</div>
						{%- if collection.products.size == 0 -%}<p class="shopify-info">{{ 'collections.general.no_matches' | t }}</p>{%- endif -%}
						{%- if paginate.pages > 1 -%}
					  <div class="products-footer tc mt__40">
					      {%- if use_pagination == 'more-btn-infinite' or use_pagination == 'more-btn' -%}
					      <a href="{{ paginate.next.url }}&view=inajax{{settings.grid_column}}" class="pr button-o btn-products-load-more{%- if use_pagination == 'more-btn-infinite' %} load-on-scroll{%- endif -%}"><span class="load-label">{{ 'products.grid_items.load_more' | t }}</span><span class="loading-label flex pa">{{ 'products.grid_items.loading' | t }}</span></a>
					      {%- else -%}
					      {%- include 'pagination',class_ajax:'jas-pagination-ajax' -%}
					      {%- endif -%}
					  </div>
					  {%- endif -%}
					</div>
				</div>
				{%- if settings.shop_sidebar == 'left' or settings.shop_sidebar == 'right' -%}
				<div class="sidebar jas-col-md-{{class_sidebar}} jas-col-xs-12 mt__30">{%- section 'section_sidebar_shop' -%}</div>
			   {%- endif -%}
			</div>
		</div>
		{%- endpaginate -%}
	</div>
</div>
