{%- assign stt_limit = 20 -%}
{%-if settings.use_wishlist -%}{%- include 'nitro-wishlist-page' -%}{%- endif -%}
<div class="page-head pr tc{%- if settings.other_page_bg_image != blank %} page_jas_bg_image lazyload{%- endif -%}"{%- if settings.other_page_bg_image != blank %} data-bgset="{%- include 'bgset', image: settings.other_page_bg_image -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url({{ settings.other_page_bg_image | img_url: '50x50' }});"{%- endif -%}>
   <div class="jas-container pr">
      <h1 class="tu mb__10 cw">{{ page.title }}</h1>
      <ul class="jas-breadcrumb dib oh">
         <li class="fl home"><a href="/" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a></li>
         <li class="fl separator"> <i class="fa fa-angle-right"></i> </li>
         <li class="fl current"> {{page.title }}</li>
      </ul>
   </div>
</div>
<div class="jas-container">
   <div class="jas-row jas-page">
      <div class="jas-col-md-12 jas-col-xs-12 mt__60 mb__60" role="main" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
            {%- if customer -%}
            <!-- WISHLIST TABLE -->
            <table class="shop_table cart wishlist_table">
               <thead>
                  <tr>
                    <th class="product-remove"></th>
                    <th class="product-thumbnail"></th>
                    <th class="product-name"><span class="nobr">{{ 'products.product.product-name' | t }}</span></th>
                    <th class="product-price"> <span class="nobr">{{ 'products.product.unit-price' | t }}</span></th>
                    <th class="product-stock-stauts"> <span class="nobr">{{ 'products.product.stock-status' | t }}</span> </th>
                    <th class="product-add-to-cart"></th>
                  </tr>
                </thead>
               <tbody>
                  {%- if NITRO_WISHLIST_COUNT > 0 -%}
                     {%- assign index = NITRO_WISHLIST_HANDLE.size -%}
                     {%- if index <= stt_limit -%}
                        {%- for wishlist in NITRO_WISHLIST_HANDLE -%}
                        {%- assign product = all_products[wishlist]-%}
                        {%- if product == blank -%} {%- continue -%}{%- endif-%}
                        {%- assign index = index | plus:1 -%}
                        {%- assign current_variant = product.selected_or_first_available_variant -%}
                        {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
                        <tr id="yith-wcwl-row-{{product.id}}" class="yith-wcwl-row" data-row-id="{{ product.id }}">
                           <td class="product-remove">
                              <div>
                                 <a href="javascript:void(0);" class="remove remove_from_wishlist nitro_wishlist_remove" title="Remove this product" data-action="remove" data-id="{{product.id}}" data-email="{{customer.email}}" data-customer_id="{{customer.id}}" data-handle="{{product.handle}}">×</a>
                              </div>
                           </td>
                           <td class="product-thumbnail">
                              <a href="{{ product.url | within: product.collections.last }}">
                              <img width="160" height="215" src="{{ product.featured_image.src | img_url: '160x' }}" class="attachment-shop_thumbnail size-shop_thumbnail" alt="{{ product.title }}">                            
                              </a>
                           </td>
                           <td class="product-name">
                              <a href="{{ product.url | within: product.collections.last }}">{{ product.title }}</a>
                           </td>
                           <td class="product-price">
                              <span class="price">
                                {%- if product.price_varies -%}
                                {{ product.price_min | money }}–{{ product.price_max | money }}
                                {%- elsif on_sale -%}<del>{{ product.compare_at_price  | money }}</del><ins>{{ product.price | money }}</ins>
                                {%- else -%}
                                {{ product.price | money }}
                                {%- endif -%}
                              </span>                           
                           </td>
                           <td class="product-stock-status">
                              {%- if product.available -%}
                              <span class="wishlist-in-stock">{{ 'products.product.in_stock' | t }}</span> 
                              {%- else -%}
                              <span class="wishlist-out-of-stock">{{ 'products.product.outofstock' | t }}</span> 
                              {%- endif -%}                           
                           </td>
                           <td class="product-add-to-cart">
                              {%- if linklists[product.handle].links.size == 0 -%}
                                 {%- if product.variants.size > 1-%}
                                    <a rel="nofollow" href="{{ product.url | within: product.collections.last }}" class="button pr br-36 mb__10">{{ 'products.product.select_option' | t }}</a>
                                 {%- else -%}
                                    {%- if product.available  -%}
                                     <a rel="nofollow" href="javascript:void(0);" class="button add_to_cart_button pr br-36 mb__10">{{ 'products.product.add_to_cart' | t }}</a>
                                    {%- else -%}
                                    <a rel="nofollow" href="{{ product.url | within: product.collections.last }}" class="button pr br-36 mb__10">{{ 'products.product.read_more' | t }}</a>
                                    {%- endif -%}
                                 {%- endif -%}
                              {%- else -%}
                              <a rel="nofollow" href="{{ product.url | within: product.collections.last }}" class="button pr br-36 mb__10">{{ 'products.product.view' | t }}</a>
                              {%- endif -%}
                           </td>
                        </tr>
                        {%- endfor-%}
                     {%- else -%}
                          {%- if canonical_url contains '?q=1' -%}
                              {%- assign limit_offset = 0 -%}
                              {%- assign number_text = 1 -%}
                          {%- elsif canonical_url contains '?q=' -%}
                              {%- assign number_text = canonical_url | split:'?q=' | last | plus:0 -%}
                              {%- assign limit_offset = stt_limit | times:number_text | minus:stt_limit -%}
                          {%- else -%}
                              {%- assign number_text = 1 -%}
                              {%- assign limit_offset = 0 -%}
                          {%- endif -%}
                          {%- assign ck_index = 0 -%}
                          {%- for wishlist in NITRO_WISHLIST_HANDLE offset:limit_offset -%}
                           {%- assign product = all_products[wishlist]-%}
                           {%- if product == blank -%} {%- continue -%}{%- endif-%}
                           {%- assign current_variant = product.selected_or_first_available_variant -%}
                           {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
                           <tr id="yith-wcwl-row-{{product.id}}" class="yith-wcwl-row" data-row-id="{{ product.id }}">
                              <td class="product-remove">
                                 <div>
                                    <a href="javascript:void(0);" class="remove remove_from_wishlist nitro_wishlist_remove" title="Remove this product" data-action="remove" data-id="{{product.id}}" data-email="{{customer.email}}" data-customer_id="{{customer.id}}" data-handle="{{product.handle}}">×</a>
                                 </div>
                              </td>
                              <td class="product-thumbnail">
                                 <a href="{{ product.url | within: product.collections.last }}">
                                 <img width="160" height="215" src="{{ product.featured_image.src | img_url: '160x'}}" class="attachment-shop_thumbnail size-shop_thumbnail" alt="{{ product.title }}">                            
                                 </a>
                              </td>
                              <td class="product-name">
                                 <a href="{{ product.url | within: product.collections.last }}">{{ product.title }}</a>
                              </td>
                              <td class="product-price">
                                 <span class="price">
                                   {%- if product.price_varies -%}
                                   {{ product.price_min | money }}–{{ product.price_max | money }}
                                   {%- elsif on_sale -%}<del>{{ product.compare_at_price  | money }}</del><ins>{{ product.price | money }}</ins>
                                   {%- else -%}
                                   {{ product.price | money }}
                                   {%- endif -%}
                                 </span>                           
                              </td>
                              <td class="product-stock-status">
                                 {%- if product.available -%}
                                 <span class="wishlist-in-stock">{{ 'products.product.in_stock' | t }}</span> 
                                 {%- else -%}
                                 <span class="wishlist-out-of-stock">{{ 'products.product.outofstock' | t }}</span> 
                                 {%- endif -%}                           
                              </td>
                              <td class="product-add-to-cart">
                                 {%- if linklists[product.handle].links.size == 0 -%}
                                    {%- if product.variants.size > 1-%}
                                       <a rel="nofollow" href="{{ product.url | within: product.collections.last }}" class="button pr br-36 mb__10">{{ 'products.product.select_option' | t }}</a>
                                    {%- else -%}
                                       {%- if product.available  -%}
                                        <a rel="nofollow" href="javascript:void(0);" class="button add_to_cart_button pr br-36 mb__10">{{ 'products.product.add_to_cart' | t }}</a>
                                       {%- else -%}
                                       <a rel="nofollow" href="{{ product.url | within: product.collections.last }}" class="button pr br-36 mb__10">{{ 'products.product.read_more' | t }}</a>
                                       {%- endif -%}
                                    {%- endif -%}
                                 {%- else -%}
                                 <a rel="nofollow" href="{{ product.url | within: product.collections.last }}" class="button pr br-36 mb__10">{{ 'products.product.view' | t }}</a>
                                 {%- endif -%}
                              </td>
                           </tr>
                           {%- assign ck_index = ck_index | plus:1 -%}
                           {%- if ck_index == stt_limit -%}{%- break -%}{%- endif -%}
                           {%- endfor-%}
                     {%- endif -%}
                  {%- else -%}
                     <tr>
                        <td colspan="6" class="wishlist-empty tc">{{ 'products.grid_items.no_products_wishlist' | t }}</td>
                     </tr>
                  {%- endif -%}
               </tbody>
               <tfoot class="hide"><tr><td colspan="6"></td></tr></tfoot>
            </table>
            {%- if index > stt_limit -%}
               {%- assign num_di = index | times: 1.0 | divided_by:stt_limit -%}
               {%- assign num_ceil = num_di | ceil -%}
              <nav class="jas-pagination">
                 <ul class="pagination-page page-numbers">
                   {% for i in (1..num_ceil) %}
                     {% if number_text != i %}
                     <li>
                       <a class="page-numbers" href="{{page.url}}?q={{i}}">{{ i }}</a>
                     </li>
                     {% else %}
                       <li><span class="page-numbers current">{{ i }}</span></li>
                     {% endif %}
                   {% endfor %}
                 </ul>
               </nav>
            {%- endif -%}
         {%- else -%}
            {%- comment-%} don't have product in wishlist {%- endcomment-%}
               <p class="tc db">{{ 'products.grid_items.info_wishlist' | t }}</p>
         {%- endif -%}
      </div>
      <!-- $classes -->
   </div>
</div>