{%- assign limit = settings.products_per_page_search | plus:0 -%}
{%- assign grid_columns = settings.grid_column_search -%}
{%- assign grid_columns_mb = '6' -%}
{%- assign settings_pr_img_size = settings.use_eq_height -%}
{%- assign show_vendor = settings.show_vendor_search -%}
{%- assign pr_style = settings.style_search -%}
{%- assign shop_sidebar = settings.shop_sidebar -%}
{%- assign use_pagination = settings.use_pagination_search -%}
{%- assign section_settings_countdown = settings.sale_countdown_search -%}
{%- assign countdown_timer_style = settings.search_countdown_style -%}
{%- assign array_metro = ',2,10,18,26,32,40,48,56,64,72,80,' -%}
{%- assign no_sidebar = true -%}
{%- assign class_gl = '12' -%}
{%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
<div class="jas-wc dib w__100 mb__60" role="main">
  <div class="page-head pr tc{%- if settings.search_bg_image != blank %} lazyload{%- endif -%}"{%- if settings.search_bg_image != blank %} data-bgset="{%- include 'bgset', image: settings.search_bg_image -%}" data-sizes="auto" data-parent-fit="cover" style="background-image: url({{ settings.search_bg_image | img_url: '50x50' }});"{%- endif -%}>
     {%- if settings.search_bg_image != blank -%}<div class="jas-wrap-lazy"></div>{%- endif -%}
     <div class="jas-container pr">
        {%- if search.results_count == 0 or search.performed == false -%}
           <h1 class="tu mb__10 cw">{{ 'general.search.title' | t }}</h1>
        {%- else -%}
           <h1 class="tu mb__10 cw">{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</h1>
        {%- endif -%}
     </div>
  </div>
  <div class="jas-container">
    {%- paginate search.results by limit -%}
    <div class="jas-filter-wrap pr">
      <div class="result-count-order mt__20">
         <div class="flex between-xs middle-xs">
            <p class="shopify-result-count">
               <span class="sp_result_html">{%- assign current_offset = paginate.current_offset | plus:1 -%}{%- assign current_product_size = search.results.size | plus:paginate.current_offset -%}{%- if current_tags == blank -%}{%- if limit > paginate.items -%}{{ 'collections.general.results_limit' | t: count: paginate.items }}{%- else -%}{{ 'collections.general.results_with_count' | t:count:current_offset,curent_count:current_product_size,pr_count:search.results_count }}{%- endif -%}{%- elsif limit > paginate.items -%}{{ 'collections.general.results_limit' | t: count: paginate.items }}{%- else -%}{%- assign current_offset = paginate.current_offset | plus:1 -%}{%- assign current_product_size = search.results.size | plus:paginate.current_offset -%}{{ 'collections.general.results_with_count' | t:count:current_offset,curent_count:current_product_size,pr_count:paginate.items }}{%- endif -%}
            </p>
            <span>
               <div class="sp-col-switch flex">
                {%- if no_sidebar and grid_columns != '3' and grid_columns != '6' and grid_columns != '4' %} active{%- endif -%}
                  <a href="javascript:void(0);" class="pr one hide-md hidden-sm visible-xs mr__10" data-col="12"></a>
                  <a href="javascript:void(0);" class="pr two mr__10{%- if grid_columns == '6' %} active{%- endif -%}" data-col="6"></a>
                  <a href="javascript:void(0);" class="pr hidden-xs three mr__10{%- if grid_columns == '4' %} active{%- endif -%}" data-col="4"></a>
                  <a href="javascript:void(0);" class="pr hidden-sm four mr__10{%- if grid_columns == '3' %} active{%- elsif no_sidebar == false and grid_columns != '3' and grid_columns != '6' and grid_columns != '4' %} active{%- endif -%}" data-col="3"></a>
                  {%- if no_sidebar -%}<a href="javascript:void(0);" class="pr hidden-sm five mr__10{%- if grid_columns == '15' %} active{%- endif -%}" data-col="15"></a>{%- endif -%}
                  {%- if no_sidebar -%}<a href="javascript:void(0);" class="pr hidden-sm six{%- if grid_columns == '2' %} active{%- endif -%}" data-col="2"></a>{%- endif -%}
               </div>
            </span>
         </div>
      </div>
      <div class="dc-shop-loader"></div>
      <div class="jas-row">
        <div class="jas-col-md-{{class_gl}} jas-col-xs-12">
          <div class="yit-wcan-container">
            <div class="products jas-products-holder jas-row {{pr_style}} {{coll_style}} {{settings.image_size_search}} jas-masonry{%- if settings_pr_img_size %} jas_section_eqh{%- endif -%}" data-masonry='{"selector":".product","layoutMode":"fitRows"{%- if coll_style == 'metro' -%},"columnWidth":".grid-sizer"{%- endif -%}}'>
               {%- if search.performed and search.results_count > 0 -%}
                  {%- if coll_style == 'metro' -%}<div class="grid-sizer size-{{grid_columns}}"></div>{%- endif-%}
                  {%- for item in search.results -%}
                     {%- if coll_style == 'metro' -%}
                         {%- assign index = forloop.index | append:',' | prepend:',' -%}
                         {%- if array_metro contains index -%}
                             {%- assign grid_columns = '6 metro-item' -%}
                             {%- assign settings_metro_img_size = true -%}
                          {%- else -%}
                             {%- assign grid_columns = settings.grid_column -%}
                             {%- assign settings_metro_img_size = false -%}
                          {%- endif -%}
                     {%- endif -%}
                     {%- if item.object_type == 'product' -%}
                         {%- include 'jas_product_loop', product: item -%}
                     {%- else -%}
                        <div class="jas-grid-item jas-col-md-{{grid_columns}} jas-col-sm-{{class_sm}} jas-col-xs-{{grid_columns_mb}} mt__30 product has-post-thumbnail{%- if settings_pr_img_size %} user_custom{%- endif -%}">
                           <div class="product-inner pr">
                              <div class="jas-product-image pr oh{%- if settings_pr_img_size and settings_metro_img_size %} jas-pr_metro-image-equal{%- elsif settings_pr_img_size %} jas-product-image-equal{%- endif -%}">
                                 {%- include 'search_img',item:item -%}
                              </div>
                              <div class="product-info mt__15">
                                 <h3 class="product-title pr fs__14 mg__0 fwm"><a class="cd chp" href="{{ item.url }}">{{ item.title }}</a></h3>
                              </div>
                           </div>
                        </div>
                     {%- endif -%}
                  {%- endfor -%}
               {%- endif-%}
            </div>
            {%- if search.performed and search.results_count == 0 -%}<p class="shopify-info">{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>{%- endif -%}
            {%- if paginate.pages > 1 -%}
            <div class="products-footer tc mt__40">
                {%- if use_pagination == 'more-btn-infinite' or use_pagination == 'more-btn' -%}
                <a href="{{ paginate.next.url }}&view=search_inajax{{settings.grid_column}}" class="pr button-o btn-products-load-more{%- if use_pagination == 'more-btn-infinite' %} load-on-scroll{%- endif -%}"><span class="load-label">{{ 'products.grid_items.load_more' | t }}</span><span class="loading-label flex pa">{{ 'products.grid_items.loading' | t }}</span></a>
                {%- else -%}
                {%- include 'pagination' -%}
                {%- endif -%}
            </div>
            {%- endif -%}
          </div>
        </div>
        {%- if settings.shop_sidebar_search != blank -%}
        <div class="sidebar jas-col-md-{{class_sidebar}} jas-col-xs-12 mt__30">{%- section 'section_sidebar_shop' -%}</div>
         {%- endif -%}
      </div>
    </div>
    {%- endpaginate -%}
  </div>
</div>
