{%- layout none -%}
{%- capture min_html -%}
{%- assign image_size = '70x' -%}
{%- if search.terms != blank -%}
  {%- if search.results_count == 0 or search.performed == false -%}
     <li>{{ 'general.search.no_results_html' | t: terms: search.terms }}</li>
  {%- else -%}
     {%- for item in search.results limit:4 -%}
         {%- if item.object_type == 'product' -%}
            {% assign product = item %}  
            {%- assign on_sale = false -%}
            {%- assign current_variant = product.selected_or_first_available_variant -%}
            {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
            {%- if current_variant.compare_at_price > current_variant.price -%}
               {%- unless product.tags contains 'notsale'-%}
               {%- assign on_sale = true -%}
               {%-endunless-%}
            {%- endif -%}
            <li class="oh mt__10 pt__10 ui-menu-item">
               <a href="{{ product.url | within: product.collections.first }}">
                  <img class="ajax-result-item fl" src="{{ featured_image.src | img_url: image_size }}" alt="{{ featured_image.alt | escape }}">
               </a>
               <div class="oh pl__15">
                   <a class="ajax-result-item-name" href="{{ product.url | within: product.collections.first }}">{{ product.title | highlight: search.terms }}</a>
                    <div class="suggestion-price price">
                       {%- if product.price_varies -%}
                       <span class="shopify-Price-amount amount">{{ product.price_min | money }}</span> <span class="shopify-Price-amount amount">–</span> <span class="shopify-Price-amount amount">{{ product.price_max | money }}</span>
                       {%- elsif on_sale -%}
                         <ins><span class="shopify-Price-amount amount">{{ current_variant.price | money }}</span></ins><del><span class="shopify-Price-amount amount">{{ current_variant.compare_at_price  | money }}</span></del>
                       {%- else -%}
                       <span class="shopify-Price-amount amount">{{ current_variant.price | money }}</span>
                       {%- endif -%}
                    </div>
               </div>
            </li>
         {%- else -%}
            <li class="oh mt__10 pt__10 ui-menu-item">
               <a href="{{ item.url }}">
                  <img class="ajax-result-item fl" src="{{ item.image.src | img_url: image_size }}" alt="{{ item.image.alt | escape }}">
               </a>
               <div class="oh pl__15">
                  <a class="ajax-result-item-name" href="{{ item.url }}">{{ item.title | highlight: search.terms }}</a>
                  <p>{{ item.content | strip_html | truncate: 60 }}</p>
               </div>
            </li>
         {%- endif -%}
     {%- endfor -%}
     {%- if search.results_count > 4 -%}
     <li class="oh mt__10 pt__10 ui-menu-item"><a href="{%- if settings.only_search_products -%}/search?type=product&q={{ search.terms }}{%- else -%}/search?q={{ search.terms }}{%- endif -%}" class="view_all">{{ 'general.search.search_ajax_results' | t :count: search.results_count }}</a></li>
     {%- endif -%}
  {%- endif -%}
{%- else -%}
  <li>{{ 'general.search.placeholder' | t }}</li>
{%- endif -%}
{%- endcapture -%}
{{min_html | strip_newlines | remove: "  "}} 

