.agree-to-terms {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 1em;
    label {
        font-size: 11px;
        a {
            font-size: 14px;
            color: #6D6D6E;
            text-decoration: underline;
            float: none;
            display: inline-block;
            font-size: 11px;
        }
    }
}