.cart {
  border: 0;
}


@media only screen and (max-width: 736px) {
   .wc-tabs {
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      white-space: normal;
      li {
         width: 100%;
         margin: 0;
         padding: 10px;
         background-color: #1b2e5d;
         a {
            color: $white;
         }
         &.active {
            background-color: #e0f5ff;
            a {
               color: #1b2e5d;
            }
         }
      }
   }
}