.dc-container {
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 1170px;

  @include desktop-l {
    max-width: 1170px;
  }

  @include desktop {
    max-width: 950px;
  }
  @include tablet {
    max-width: 700px;
  }
  @include mobile {
    max-width: 400px;
  }
}
