.footer__bot {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: -0.01em;
  padding: 0.75em;
  line-height: 1.5em;

  p {
    padding: 0;
    margin: 0;
  }

  .left-column {
    text-align: left;
  }

  .right-column {
    text-align: right;
  }

  .flex {
    justify-content: space-between;
    align-items: center;
  }
}
