.header-sticky {
  .jas-menu {
    > li {
      a {
        color: $white;
        &:hover {
          background: $blue-light;
          color: $blue;
        }
      }
    }
  }
  .header__mid {
    @include mobile {
      padding-left: 0;
    }
    .jas-branding {
      padding: 5px 0;
    }
  }

  &.header-5 .jas-menu > li > a {
    line-height: 40px;
  }
}
