.header-usp {
  max-width: 1170px;
  margin: auto;
  border-bottom: 1px solid #eee;

  &__icon {
    padding-right: 1em;
    color: $blue;
    font-size: 18px;
  }

  &__item {
    padding: 8px 5px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f3f2f8;
    height: 34px;
    margin-top: 5px;
    margin-bottom: 5px;

    &:last-child {
        border-right: 0;
    }

    @include tablet {
      margin: 12px 0;
    }

    h3 {
      font-size: 14px;
      color: $blue;
      text-transform: uppercase;
      font-weight: 600;
      text-align: left;
      padding: 0;
      margin: 0;
      @include tablet {
        font-size: 12px;
      }
    }

    p {
      padding: 0;
      margin: 0;
      line-height: 12px;
      font-size: 11px;
      @include tablet {
        font-size: 10px;
      }
    }
  }
}
