.header-5 {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border: 0;
    background: $white;
    opacity: 0.3;
  }
  .jas-branding {
    padding: 5px 0;
  }
  .jas-container {
    .flex.align-items-center {
        width: 100%;
    }
  }
}

.header-5 .header__mid .jas-branding, .header-lateral .top-menu.visible-1024 .jas-branding,
.header-5.header-sticky .header__mid .jas-branding, .header-lateral .header-sticky+.top-menu.visible-1024 .jas-branding {
  @include mobile {
    padding: 0;  
  }
}
