.head_sub-links-wrap {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: flex-end;

  @include mobile {
    width: 20%;
  }

  .link-item {
    text-align: left;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-left: 1em;
    font-size: 12px;

    .link-phone {
      display: flex;
      i {
        font-size: 1.5em;
        margin-right: 0.5em;
      }
    }

    @include mobile {
      display: none;
    }

    &:last-child {
      text-align: right;
      @include mobile {
        display: block;
      }
    }

    .link-item__logo {
      width: 25px;
      text-align: center;
      font-size: 1.5em;
      margin-right: 0.5em;
    }
    .link-item__price {
      font-size: 2em;
      font-size: 1.25em;
      font-weight: 500;
    }
    p {
      padding: 0;
      margin: 0;
      line-height: 1em;
    }
    i.pe-7s-shopbag {
      font-size: 1.5em;
    }
  }
}
