.jas-promotion {
  border-radius: 0 !important;
  &.bottom {
    .pa {
      bottom: 40px;
      @include mobile {
        bottom: 13px;
      }
      @include tablet {
        bottom: 12px;
      }
    }
    h5 {
      @include mobile {
        margin-top: 8px;
      }
    }
  }

  h3,
  h4 {
    margin: 4px;
  }

  h5 {
    background: $blue;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    min-width: 215px;
    @include mobile {
      min-width: initial;
      max-width: 150px;
      margin: auto;
    }
  }
}
