#jas-footer  {
  .widget-title {
    text-transform: uppercase;
    margin-bottom: 0.75em;
    font-size: 1.25em;
  }
  .widget_newsletter_email img {
    margin-top: 1em;
  }
  &.footer-1 {
    .jas-row>div:not(:last-child) {
      @include desktop {
        margin-bottom: 0;
      }
      @include tablet {
        margin-bottom: 10px;
        margin-top: 10px;
      }
      @include mobile {
        margin-bottom: 1em;
      }
    }
  }
  .social-icons {
    @include tablet {
      padding: 10px 0;
    }
  }
}
