.jas-item-category {
  &.slick-slide {
    .jas-promotion {
      border-radius: 5px;
      h3 {
        @media (max-width: 425px) {
          font-size: 14px !important;
          width: 200px;
        }
      }
    }
  }
}
