.jas_title_1 {
  text-align: left;
  border-bottom: 2px solid $blue;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: 2px;
  @include mobile {
    text-align: center;
    padding-bottom: 5px;
  }
}
