.jas-menu {
  display: flex;
  justify-content: space-evenly;
  max-width: 1170px;
  li {
    font-size: 12px;
    margin: 0 !important;
    a {
      padding: 0;
      line-height: 2;
      &:hover {
        background: $white;
        color: $blue;
      }
    }
  }
  > li {
    &:last-child {
      background: $blue;
      margin: 0;
    }

    &:nth-last-child(2) {
      background: #7ccbdd;
      padding: 0;
    }
    > a {
      text-transform: capitalize;
      letter-spacing: -0.01em;
      text-transform: capitalize;
      font-size: 12px;
    }
  }
}

.header-5 .jas-menu > li > a {
    line-height: 40px;
    padding: 1em;
}
