.jas-navigation {
    background: $blue;
}

.jas-menu > li > a,
#jas-mobile-menu ul > li:hover > a,
#jas-mobile-menu ul > li.current-menu-item > a,
#jas-mobile-menu ul > li.current-menu-parent > a,
#jas-mobile-menu ul > li.current-menu-ancestor > a,
#jas-mobile-menu ul > li:hover > .holder, #jas-mobile-menu ul > li.current-menu-item > .holder,
#jas-mobile-menu ul > li.current-menu-parent > .holder,
#jas-mobile-menu ul > li.current-menu-ancestor > .holder {
    color: $white;
}
