.logo_wrap {
  width: 25%;
  a {
    img {
      //max-width: 250px !important;
      @include mobile {
        //max-width: 220px !important;
      }
    }
  }
  @include mobile {
    width: 60%;
  }
}
