.metaslider {
  .slides {
    img {
      @include mobile {
        min-height: 300px;
      }
      @include tablet {
        min-height: 300px;
      }
    }
  }
  .flexslider {
    .caption-wrap {
      .caption {
        @include mobile {
          min-height: 350px;
        }
      }
    }
  }
}
