@mixin flip-horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}


/* BREAKPOINTS  */

@mixin mobile-s {
  @media (max-width: #{$break-mobile-s}) {
    @content;
  }
}

@mixin mobile-m {
  @media (min-width: #{$break-mobile-m}) and (max-width: #{$break-mobile-l - 1px}) {
    @content;
  }
}

@mixin mobile-l {
  @media (min-width: #{$break-mobile-l}) and (max-width: #{$break-mobile - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$break-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$break-tablet}) and (max-width: #{$break-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$break-desktop}) and (max-width: #{$break-large-desktop - 1px}) {
    @content;
  }
}

@mixin desktop-l {
  @media (min-width: #{$break-large-desktop}) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}
