.notice {
    margin: 0 1em 0 1em;
    padding: 1em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;

    h2 {
      color: $white;
    }
    a {
      color: $blue;
      font-weight: 500;
    }
}
