.page-head {
  h1 {
    font-size: 3em;
    color: #1c2f5d;
    padding: 0;
    margin: 0;
  }

  p {
    color: #6d6d6d;
  }

  &.lazyload:before,
  &.lazyloading:before,
  &.lazyloaded:before {
      display: none;
  }
   .jas-breadcrumb {
      margin-top: 10px;
      .fl:not(.current) {
         a {
            color: #e8e8e8;
            &:hover {
               color: #ffffff;
            }
         }
      }
   }
}
