.search_wrap {
  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 25%;

  @include mobile {
    display: none;
  }

  .search-form {
    background: none;
    display: flex;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #7ccbdd;
    background: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 3px;
    &__submit {
        background: no-repeat;
        color: #1c2f5d;
        width: 50px;
        padding: 0;
        border: 0;
        outline: 0;
        outline: none;
        border: 0;
        -webkit-appearance: none;
    }

    input.search-form__input-text {
        border: 0;
        font-size: 12px;
        width: 250px;
        -webkit-appearance: none;
        outline: 0;
        background: none;
        color: #1c2f5d;
    }

    input.search-form__input-text::placeholder {
        color: #1c2f5d;
    }
  }
}
