.slick-prev,
.slick-next {
  background: none;
  color: black;
}

.slick-next:before, .slick-prev:before {
  color: $blue;
}
.slick-dots {
  bottom: 0;
}

.slick-slide:first-child .caption-wrap h2 {
  margin-bottom: 0;
  @include desktop {
    font-size: 5em;
  }
  @include tablet {
    font-size: 3em;
  }
}
