.social-icons {
  text-align: center;
  font-size: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  a {
    padding: 0 1em;
  }
}
