.sp-col-switch {
  a {
    border: 1px solid #7ccbdd;

    &:before {
      background: #1c2f5d;
    }

    &.active:before,
    &:hover:before  {
      background: #7ccbdd;
    }

    &.two:before {
      box-shadow: 13px 0 0 #1c2f5d, 13px 0 0 #1c2f5d;
    }

    &.three:before {
      box-shadow: 13px 0 0 #1c2f5d, 26px 0 0 #1c2f5d;
    }

    &.four:before {
      box-shadow: 13px 0 0 #1c2f5d, 26px 0 0 #1c2f5d, 39px 0 0 #1c2f5d;
    }

    &.five:before {
      box-shadow: 13px 0 0 #1c2f5d, 26px 0 0 #1c2f5d, 39px 0 0 #1c2f5d, 52px 0 0 #1c2f5d;
    }

    &.six:before {
      box-shadow: 13px 0 0 #1c2f5d, 26px 0 0 #1c2f5d, 39px 0 0 #1c2f5d, 52px 0 0 #1c2f5d, 65px 0 0 #1c2f5d;
    }

    &.two:hover:before,
    &.two.active:before{
      box-shadow: 13px 0 0 #7ccbdd, 13px 0 0 #7ccbdd;
    }

    &.three:hover:before,
    &.three.active:before{
      box-shadow: 13px 0 0 #7ccbdd, 26px 0 0 #7ccbdd;
    }

    &.four:hover:before,
    &.four.active:before{
      box-shadow: 13px 0 0 #7ccbdd, 26px 0 0 #7ccbdd, 39px 0 0 #7ccbdd;
    }

    &.five:hover:before,
    &.five.active:before{
      box-shadow: 13px 0 0 #7ccbdd, 26px 0 0 #7ccbdd, 39px 0 0 #7ccbdd, 52px 0 0 #7ccbdd;
    }

    &.six:hover:before,
    &.six.active:before{
      box-shadow: 13px 0 0 #7ccbdd, 26px 0 0 #7ccbdd, 39px 0 0 #7ccbdd, 52px 0 0 #7ccbdd, 65px 0 0 #7ccbdd;
    }

    &:hover,
    &.active {
      border-color: #7ccbdd;
    }
  }
}
