.template-login,
.template-cart,
.template-search {
  .page-head {
    h1 {
    color: $white;
    }
  }
}
.template-login .page-head .jas-breadcrumb ,
.template-cart .page-head .jas-breadcrumb ,
.template-search .page-head .jas-breadcrumb  {
    color: rgba(255, 255, 255, 1);
}

.template-login .page-head .jas-breadcrumb a,
.template-cart .page-head .jas-breadcrumb a,
.template-search .page-head .jas-breadcrumb a {
    color: rgba(255, 255, 255, 0.5);
}
