.template-blog {
    .page-head {
        background-color: #1c2e5d;
        color: white;
        h1 {
            color: white;
        }
    }
    .jas-breadcrumb {
        color: white;
    }
    
    .inside-thumb {
        background-color: #1c2e5d;
    }

    .inside-thumb h2 a:hover {
        color: white;
    }
    
    .posted-on a:hover {
        color: #878787;
    }

}

.template-article {
    .page-head {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            display: block !important;
        }
        h1 {
            position: relative;
            color: white;
        }
    }
}
