.template-collection .page-head,
.template-collections .page-head,
.template-list-collections .page-head {
  padding: 0;
  margin-top: 2em;
  background: none;
}

.shopify-message+.result-count-order,
.template-collection .result-count-order {
    padding-top: 15px;
}
