$white: white;
$black: #333;

$blue: #1c2f5d;
$blue-light: #e0f5ff;



/* BREAKPOINTS */
// Small devices (landscape phones, 576px and up)
$break-mobile: 600px;
$break-mobile-s: 320px;
$break-mobile-m: 375px;
$break-mobile-l: 425px;

// Medium devices (tablets, 768px and up)
$break-tablet: 768px;

// Large devices (desktops, 992px and up)
$break-desktop: 992px;

// Extra large devices (large desktops, 1200px and up)
$break-large-desktop: 1500px;
